<section class="my-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 shadow bg-white">
        <div class="container">
          <div class="row justify-content-center py-5">
            <div class="col-md-11">
              <div class="d-flex flex-md-row flex-column">
                <span class="text-secondary"> Home /&nbsp; </span>
                <span class="text-secondary">Shop /&nbsp; </span>
                <span> Native grass-fed artisan beef</span>
              </div>

              <h2 class="fw-bold sub-title pt-2">
                Native grass-fed artisan beef
              </h2>
              <p class="pt-2">
                We're passionate about preserving tradition and nature's harmony
                to craft exceptional beef. Our sustainable, ethical practices
                mean every bite celebrates our land and heritage.
              </p>

              <div class="bgImag my-5">
                <div class="detail">
                  <h2 class="text-white text-center mb-3 fontInformation">
                    Nutritional Information
                  </h2>
                  <p
                    class="text-white text-center col-8 mx-auto opacity-100 fw-light"
                  >
                    We exclusively breed registered Balancers, chosen for
                    genetics like maternal instincts, milk production, calving
                    ease, and growth.Our cattle graze on organic pastures,
                    promoting leaner meat with potential for higher nutritional
                    value, including omega-3 fatty acids.
                  </p>
                </div>
              </div>
              <div class="row gy-4 py-5">
                <div
                  *ngFor="let product of productList"
                  class="col-md-3 cursor"
                >
                  <a
                    (click)="navigateToProductDetail(product)"
                    class="text-decoration-none"
                  >
                    <div class="card rounded-4">
                      <img
                        src="/assets/shop/products.png"
                        class="img-fluid"
                        alt=""
                      />
                      <div class="card-body text-center">
                        <h5 class="card-title fw-bold">{{ product.name }}</h5>
                        <p>{{ product.quantity }}</p>
                        <div class="d-flex justify-content-around">
                          <span class="card-text fw-bold"
                            >${{ product.price }}</span
                          >
                          <div class="vr"></div>
                          <div
                            (click)="addProductToCart($event, product)"
                            class="d-flex text-orange"
                          >
                            <i class="bi bi-cart-plus-fill"></i>
                            <span class="mx-3">Add</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-3">
                  <div class="card card-recipes rounded-4">
                    <div class="content-overlay"></div>
                    <img
                      src="/assets/shop/products.png"
                      class="img-fluid"
                      alt=""
                    />
                    <div class="content-details fadeIn-top">
                      <h4 class="text-light">Out of stock</h4>
                      <button
                        type="button"
                        class="btn text-light rounded-0 mt-2 button-orange py-2"
                        data-bs-toggle="modal"
                        data-bs-target="#preorderModal"
                      >
                        Preorder
                      </button>
                    </div>
                    <div class="card-body text-center">
                      <h5 class="card-title fw-bold">Whole Beef</h5>
                      <p>100lbs of Quality Beef Cuts</p>
                      <div class="d-flex justify-content-around">
                        <span class="card-text fw-bold">$3,800.00</span>
                        <div class="vr"></div>
                        <div class="d-flex text-orange">
                          <i class="bi bi-cart-plus-fill"></i>
                          <span class="mx-3">Add</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ------preorder Modal start------- -->

<div
  class="modal fade"
  id="preorderModal"
  tabindex="-1"
  aria-labelledby="preorderModal"
  aria-hidden="false"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
  >
    <div class="modal-content">
      <div class="modal-body bg-white">
        <div class="row justify-content-center">
          <div class="d-flex justify-content-between mb-3">
            <span class="preorder-title"> Preorder Information </span>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <hr class="border" />
          <div class="px-4 pb-3">
            <h6 class="preorder-subtitle">Product Name</h6>
            <h6>Native grass-fed artisan beef</h6>
            <h6 class="pt-2 preorder-subtitle">Expected Availability Date</h6>
            <h6>9/20/2023</h6>
          </div>
          <div class="col-11 p-4 bg-light-gray">
            <h6 class="text-center fw-bold pt-2">Delivery Note</h6>
            <ul>
              <li class="pt-2">
                Preorder items will be shipped as soon as they become available
                on the expected availability date.
              </li>
              <li class="pt-2">
                The remaining balance will be due at the time of delivery or
                pickup.
              </li>
              <li class="pt-2">
                Partial payment for preorder items will be processed
                immediately.
              </li>
              <li class="pt-2">
                We will send you a notification with the payment due date and
                instructions for settling the remaining balance.
              </li>
              <li class="pt-2">
                After customers place a preorder, order confirmation and regular
                updates about the status of preordered items will be provided,
                especially if there are delays or changes.
              </li>
            </ul>
          </div>
          <hr class="border" />
          <div class="d-flex justify-content-center align-items-center">
            <button type="button" class="btn mx-3" data-bs-dismiss="modal">
              Cancle
            </button>
            <button
              type="button"
              class="btn rounded-0 button-orange"
              data-bs-toggle="modal"
              data-bs-target="#selectCutModal"
            >
              Confirm Preorder
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- --------preorder Modal end---------- -->

<!-- ------select cut Modal start------- -->
<div
  class="modal"
  id="selectCutModal"
  tabindex="-1"
  aria-labelledby="selectCutModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title preorder-title text-orange">Select Cut</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="standardCut"
              checked
            />
            <label class="form-check-label" for="standardCut">
              Standard Cut
            </label>
          </div>
          <div class="form-check ms-3">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="customCut"
            />
            <label class="form-check-label" for="customCut"> Custom Cut </label>
          </div>
        </div>
        <div class="border mt-2 mx-4">
          <ul class="list-unstyled p-3">
            <li>180 lbs – Ground Beef 2</li>
            <li>
              120 lbs – Assorted Roasts (Chuck, Brisket (2), Short Ribs, Rump,
              Arm, Round)
            </li>
            <li>
              72 lbs - Premium Steaks (Filet, Bone-In Ribeye, Boneless Ribeye,
              NY Strip)
            </li>
            <li>
              8 lbs - Family Steaks (Sirloin, Bavette, Flat Iron, Tri Tip)
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn" data-bs-dismiss="modal">
          Cancel
        </button>
        <button onclick="" type="button" class="btn rounded-0 button-orange">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>

<!-- --------select cut Modal end---------- -->
