<section class=" my-5 pt-5 ">
    <div class="container">
       <div class="row">
          <!-- <div class="col-md-4">
             <div>
                <h4 class="fw-bold sub-title">Shop By Category</h4>
                <ul class="list-unstyled">
                   <li class="py-2">
                      Steaks
                   </li>
                   <li class="py-2">
                      Native grass-fed artisan beef
                   </li>
                   <li class="py-2">
                      Organic and Grass-Fed
                   </li>
                   <li class="py-2">
                      Ground Beef
                   </li>
                   <li class="py-2">
                      Steak Cuts
                   </li>
                   <li class="py-2">
                      Bulk and Packages
                   </li>
                   <li class="py-2">
                      Sausages and Ground Meats
                   </li>
                </ul>
             </div>
          </div> -->

          <div class="col-md-12 shadow bg-white">
             <div class="container">
                <div class="row justify-content-center py-5">
                   <div class="col-md-11">
                      <div class="d-flex flex-md-row flex-column">
                         <span class="text-secondary"> Home /&nbsp; </span>
                         <span class="text-secondary">Shop /&nbsp; </span>
                         <span> Native grass-fed artisan beef</span>
                      </div>

                      <h2 class="fw-bold sub-title pt-2">
                         Native grass-fed artisan beef
                      </h2>
                      <p class="pt-2">
                         We're passionate about preserving tradition and nature's harmony to
                         craft exceptional beef. Our sustainable, ethical practices mean every
                         bite celebrates our land and heritage.
                      </p>

                      <div class="bgImag my-5">
                        <div class="detail">
                            <h2 class="text-white text-center mb-3 fontInformation">
                               Nutritional Information
                            </h2>
                            <p class="text-white text-center col-8 mx-auto">
                               We exclusively breed registered Balancers, chosen
                               for genetics like maternal instincts, milk production,
                               calving ease, and growth.Our cattle graze on organic pastures,
                               promoting leaner meat with potential for higher nutritional value,
                               including omega-3 fatty acids.
                            </p>
                        </div>
                      </div>


                      <div class="row py-3 mx-0 align-items-center justify-content-betweend shadow-none text-light  button-orange">
                         <div class="col-2">
                            <span> 13 items</span>
                         </div>
                         <div class="col-5 d-flex align-items-center">
                            <span>SortBy</span>
                            <select class="form-select form-select-md align-self-center mx-4"
                               aria-label="Large select example">
                               <option selected>Most popular</option>
                            </select>
                         </div>
                         <div class="col-3 d-flex align-items-center">
                            <span>Show</span>
                            <select class="form-select form-select-md mx-3 align-self-center"
                               aria-label="Large select example">
                               <option selected>12</option>
                            </select>
                         </div>
                         <div class="col-2 text-center">
                            <i class="bi bi-grid-3x3-gap-fill"></i>
                         </div>
                      </div>

                      <div class="row gy-4 py-5">
                         <div class="col-md-3">
                            <a routerLink="/product-details" class="text-decoration-none">
                               <div class="card rounded-4">
                                  <img src="/assets/shop/products.png" class="img-fluid" alt="">
                                  <div class="card-body text-center  ">
                                     <h5 class="card-title  fw-bold pb-2">Whole Beef</h5>
                                     <div class="d-flex justify-content-around">
                                        <span class="card-text fw-bold  ">$3,800.00</span>
                                        <div class="vr"></div>
                                        <div class="d-flex  text-orange">
                                           <i class="bi bi-cart-plus-fill"></i>
                                           <span class="mx-3">Add</span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </a>
                         </div>
                         <div class="col-md-3">
                            <div class="card rounded-4">
                               <img src="/assets/shop/products.png" class="img-fluid" alt="">
                               <div class="card-body text-center  ">
                                  <h5 class="card-title  fw-bold pb-2">Whole Beef</h5>
                                  <div class="d-flex justify-content-around">
                                     <span class="card-text fw-bold  ">$3,800.00</span>
                                     <div class="vr"></div>
                                     <div class="d-flex  text-orange">
                                        <i class="bi bi-cart-plus-fill"></i>
                                        <span class="mx-3">Add</span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="card card-recipes rounded-4">
                               <div class="content-overlay"></div>
                               <img src="/assets/shop/products.png" class="img-fluid" alt="">
                               <div class="content-details fadeIn-top">
                                  <h4 class="text-light">Out of stock</h4>
                                  <button type="button"
                                     class="btn  text-light rounded-0 mt-2 button-orange" data-bs-toggle="modal" data-bs-target="#preorderModal">Preorder</button>
                               </div>
                               <div class="card-body text-center  ">
                                  <h5 class="card-title  fw-bold pb-2">Whole Beef</h5>
                                  <div class="d-flex justify-content-around">
                                     <span class="card-text fw-bold  ">$3,800.00</span>
                                     <div class="vr"></div>
                                     <div class="d-flex  text-orange">
                                        <i class="bi bi-cart-plus-fill"></i>
                                        <span class="mx-3">Add</span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="card rounded-4">
                               <img src="/assets/shop/products.png" class="img-fluid" alt="">

                               <div class="card-body text-center  ">
                                  <h5 class="card-title  fw-bold pb-2">Whole Beef</h5>
                                  <div class="d-flex justify-content-around">
                                     <span class="card-text fw-bold  ">$3,800.00</span>
                                     <div class="vr"></div>
                                     <div class="d-flex  text-orange">
                                        <i class="bi bi-cart-plus-fill"></i>
                                        <span class="mx-3">Add</span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="card rounded-4">
                               <img src="/assets/shop/products.png" class="img-fluid" alt="">

                               <div class="card-body text-center  ">
                                  <h5 class="card-title  fw-bold pb-2">Whole Beef</h5>
                                  <div class="d-flex justify-content-around">
                                     <span class="card-text fw-bold  ">$3,800.00</span>
                                     <div class="vr"></div>
                                     <div class="d-flex  text-orange">
                                        <i class="bi bi-cart-plus-fill"></i>
                                        <span class="mx-3">Add</span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="card rounded-4">
                               <img src="/assets/shop/products.png" class="img-fluid" alt="">

                               <div class="card-body text-center  ">
                                  <h5 class="card-title  fw-bold pb-2">Whole Beef</h5>
                                  <div class="d-flex justify-content-around">
                                     <span class="card-text fw-bold  ">$3,800.00</span>
                                     <div class="vr"></div>
                                     <div class="d-flex  text-orange">
                                        <i class="bi bi-cart-plus-fill"></i>
                                        <span class="mx-3">Add</span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="card rounded-4">
                               <img src="/assets/shop/products.png" class="img-fluid" alt="">

                               <div class="card-body text-center  ">
                                  <h5 class="card-title  fw-bold pb-2">Whole Beef</h5>
                                  <div class="d-flex justify-content-around">
                                     <span class="card-text fw-bold  ">$3,800.00</span>
                                     <div class="vr"></div>
                                     <div class="d-flex  text-orange">
                                        <i class="bi bi-cart-plus-fill"></i>
                                        <span class="mx-3">Add</span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="card rounded-4">
                               <img src="/assets/shop/products.png" class="img-fluid" alt="">

                               <div class="card-body text-center  ">
                                  <h5 class="card-title  fw-bold pb-2">Whole Beef</h5>
                                  <div class="d-flex justify-content-around">
                                     <span class="card-text fw-bold  ">$3,800.00</span>
                                     <div class="vr"></div>
                                     <div class="d-flex  text-orange">
                                        <i class="bi bi-cart-plus-fill"></i>
                                        <span class="mx-3">Add</span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                       
                      </div>

                      <!-- <nav aria-label="Page navigation " class="mt-5">
                         <ul class="pagination pagination-lg justify-content-center">
                            <li class="page-item active" aria-current="page">
                               <span class="page-link border-0 rounded-0 button-orange">1</span>
                            </li>
                            <li class="page-item"><a class="page-link border-0" href="#">2</a></li>
                            <li class="page-item"><a class="page-link border-0" href="#">3</a></li>
                         </ul>
                       </nav> -->
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

    <!-- ------preorder Modal start------- -->

    <div class="modal fade" id="preorderModal" tabindex="-1" aria-labelledby="preorderModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  modal-lg">
           <div class="modal-content">
              <div class="modal-body bg-white">
                 <div class="row justify-content-center">
                    <div class=" d-flex justify-content-between mb-3">
                       <span class=" preorder-title">
                          Preorder Information
                       </span>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <hr class="border">
                    <div class=" p-4">
                       <h6 class=" preorder-subtitle ">Product Name</h6>
                       <h6> Native grass-fed artisan beef</h6>
                       <h6 class="pt-2  preorder-subtitle ">Expected Availability Date</h6>
                       <h6>
                          9/20/2023
                       </h6>
                    </div>
                    <div class="col-md-11 p-4   m-3 bg-light-gray">
                       <h6 class="text-center fw-bold  pt-2">
                          Delivery Note
                       </h6>
                       <ul>
                          <li class="pt-2">Preorder items will be shipped as soon as they become
                             available on the<br> selected delivery date
                          </li>
                          <li class="pt-2">Payment for preorder items will be processed
                             immediately.
                          </li>
                          <li class="pt-2">After customers place a preorder, order confirmation and
                             regular updates about<br> the status of preordered items will be
                             provided, especially if there <br>are delays or changes.
                          </li>
                       </ul>
  
                    </div>
                    <hr class="border " />
                    <div class="d-flex justify-content-center  align-items-center ">
                       <button type="button" class="btn mx-3">Cancle</button>
                       <button type="button" class="btn rounded-0 button-orange">
                          Confirm Preorder
                       </button>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- --------preorder Modal end---------- -->