<section class="my-5 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 shadow bg-white">
        <div class="container">
          <div class="row justify-content-center py-5">
            <div class="col-md-11">
              <div class="d-flex">
                <span class="text-secondary"> Home /&nbsp; </span>
                <span class="text-secondary">Shop /&nbsp; </span>
                <span> Native grass-fed artisan beef</span>
              </div>

              <h2 class="fw-bold sub-title pt-2">
                Native grass-fed artisan beef
              </h2>
              <p class="pt-2">
                We're passionate about preserving tradition and nature's harmony
                to craft exceptional beef. Our sustainable, ethical practices
                mean every bite celebrates our land and heritage.
              </p>

              <div class="bgImag my-5">
                <div class="detail">
                  <h2 class="text-white text-center mb-3 fontInformation">
                    Nutritional Information
                  </h2>
                  <p
                    class="text-white text-center col-8 mx-auto opacity-100 fw-light"
                  >
                    We exclusively breed registered Balancers, chosen for
                    genetics like maternal instincts, milk production, calving
                    ease, and growth.Our cattle graze on organic pastures,
                    promoting leaner meat with potential for higher nutritional
                    value, including omega-3 fatty acids.
                  </p>
                </div>
              </div>

              <div>
                <h2 class="text-start pb-4 fontInformation">What You Get!</h2>
                <h4>How Much Meat?</h4>
                <p class="mb-4">
                  Loafers Glory offers 1/8, 1/4, 1/2, or whole beef options. 1/8
                  beef is 50 lbs, 1/4 beef is 100 lbs, 1/2 beef is 200 lbs. of
                  beef. A whole beef is 400 lbs. of beef. You can expect about
                  25% grilling steaks, 45% ground beef, 30% briskets, ribs,
                  roasts, and stew meat.
                </p>
                <h4>How Much Freezer Space Do I Need?</h4>
                <p>
                  Many of our customers will split a ½ Beef with friends and/or
                  family. We call this Cow-Pooling! The rule of thumb is 1 cubic
                  foot of freezer space for every 30-35 lbs of cut and wrapped
                  meat.
                </p>
                <ul class="list-unstyled mb-3">
                  <li>
                    <p class="mb-1">
                      1/8 Beef (50 lbs.) = 1.7 cubic feet of freezer space.
                    </p>
                  </li>
                  <li>
                    <p class="mb-1">
                      ¼ Beef (100 lbs.) = 3.4 cubic feet of freezer space.
                    </p>
                  </li>
                  <li>
                    <p class="mb-1">
                      ½ Beef (200 lbs.) = 6.8 cubic feet of freezer space.
                    </p>
                  </li>
                  <li>
                    <p class="mb-1">
                      Whole Beef (400 lbs.) = 14 cubic feet of freezer space.
                    </p>
                  </li>
                </ul>

                <div class="row align-items-center mb-3">
                  <div class="col-md-6">
                    <img
                      src="/assets/shop/beefChart.png"
                      alt=""
                      class="img-fluid mb-3 cursor"
                      (click)="
                        imgShow(imgShowTemplate, '/assets/shop/beefChart.png')
                      "
                    />
                  </div>
                  <div class="col-md-6">
                    <h4 class="pb-2">How to pick your cuts?</h4>
                    <p>
                      Loafers Glory has the option to customize your cuts for ½
                      and whole beef orders. This is where you can choose
                      whether you want your Ribeye’s to have the bone in or out,
                      how thick your steaks should be, whether your brisket is
                      kept whole for your smoker or cut to fit your crockpot,
                      etc. If you’re unsure, just ask! We have a standard cut
                      sheet you can start withor are at least happy to help
                      guide you. Be sure to ask about organ meat if you don’t
                      want it. Many producers will require you to buy all the
                      cuts that the animal produces,including organ meat. At
                      Loafers Glory, we offer the organ meat separately.
                    </p>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <img
                      src="/assets/shop/bg2.jpg"
                      class="img-fluid mb-3 cursor"
                    />
                  </div>
                  <div class="col-md-6">
                    <h4 class="pb-2">How is it packaged?</h4>
                    <p>
                      At Loafers Glory you get individual cuts of beef
                      vacuum-sealed in properly USDA labeled, airtight packages.
                      That way you can easily inspect the meat before you thaw
                      it.If it is airtight, it will last for 2 or more years in
                      your freezer.
                    </p>
                  </div>
                </div>
              </div>

              <div class="row py-3 text-light button-orange rounded-2">
                <div class="col-2 px-0">
                  <span> {{ productList.length }}&nbsp; items</span>
                </div>
              </div>
              <div class="row gy-4 py-5">
                <div
                  *ngFor="let product of productList"
                  class="col-md-3 cursor"
                >
                  <a
                    (click)="navigateToProductDetail(product)"
                    class="text-decoration-none"
                  >
                    <div
                      [ngClass]="{ 'card-recipes': product.outOfStock }"
                      class="card rounded-4"
                    >
                      <div
                        *ngIf="product.outOfStock"
                        class="content-overlay"
                      ></div>
                      <img
                        src="/assets/shop/products.png"
                        class="img-fluid"
                        alt=""
                      />
                      <div
                        *ngIf="product.outOfStock"
                        class="content-details fadeIn-top"
                      >
                        <h4 class="text-light">Out of stock</h4>
                        <button
                          type="button"
                          class="btn text-light rounded-0 mt-2 button-orange py-2"
                          (click)="
                            selectCut($event, selectCutTemplate, product)
                          "
                        >
                          Preorder
                        </button>
                      </div>
                      <div class="card-body text-center">
                        <h5 class="card-title fw-bold hide-name">
                          {{ product.name }}
                        </h5>

                        <div class="d-flex justify-content-around">
                          <span class="card-text fw-bold"
                            >${{ product.price }}</span
                          >
                          <div class="vr"></div>
                          <div
                            (click)="
                              selectCut($event, selectCutTemplate, product)
                            "
                            class="d-flex text-orange"
                          >
                            <i class="bi bi-cart-plus-fill"></i>
                            <div
                              class="notification badge-danger rounded-circle"
                            >
                              {{ product.count }}
                            </div>
                            <span class="mx-2">Add</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #selectCutTemplate let-modal>
  <div class="modal-header border-bottom py-2">
    <h5 class="modal-title preorder-title text-orange">Select Cut</h5>
    <i class="fas fa-times close-icon mt-2" (click)="modal.close()"></i>
  </div>
  <div class="modal-body">
    <form [formGroup]="cutForm">
      <div class="d-flex">
        <div class="form-check ml-0 form-check-inline">
          <input
            formControlName="searchCheckOption"
            name="searchCheckOption"
            class="form-check-input"
            type="radio"
            id="standard"
            value="standard"
          />
          <label class="form-check-label" for="standard">Standard Cut</label>
        </div>
        <div class="form-check ml-0 form-check-inline">
          <input
            formControlName="searchCheckOption"
            name="searchCheckOption"
            class="form-check-input"
            type="radio"
            id="custom"
            value="custom"
          />
          <label class="form-check-label" for="custom">Custom Cut</label>
        </div>
      </div>
    </form>

    <div class="border mt-2 mx-4">
      <ul class="list-unstyled p-3">
        <li>180 lbs – Ground Beef 2</li>
        <li>
          120 lbs – Assorted Roasts (Chuck, Brisket (2), Short Ribs, Rump, Arm,
          Round)
        </li>
        <li>
          72 lbs - Premium Steaks (Filet, Bone-In Ribeye, Boneless Ribeye, NY
          Strip)
        </li>
        <li>8 lbs - Family Steaks (Sirloin, Bavette, Flat Iron, Tri Tip)</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button type="button" class="btn" (click)="modal.close()">Cancel</button>
    <button
      (click)="addProductToCart()"
      type="button"
      class="btn rounded-0 button-orange"
    >
      {{
        cutForm.controls["searchCheckOption"].value === "standard"
          ? "Add to Cart"
          : "Checkout"
      }}
    </button>
  </div>
</ng-template>

<ng-template #imgShowTemplate let-modal>
  <div class="modal-header justify-content-end border-bottom-0 py-2">
    <i class="fas fa-times close-icon mt-2 cursor" (click)="modal.close()"></i>
  </div>
  <div class="modal-body">
    <img [src]="url" class="img-fluid mb-3 w-100" />
  </div>
</ng-template>
