<section class="mt-5">
  <div class="container">
    <div class="bg-white pt-5 mt-4">
      <app-bread-crumb [links]="links"></app-bread-crumb>
      <h1 class="pt-3 sub-title">Cart</h1>
      <div *ngIf="!isLoading" class="table-responsive py-3">
        <table class="table align-middle table-borderless">
          <thead class="border-bottom">
            <tr class="">
              <th></th>
              <th></th>
              <th class="col">PRODUCT</th>
              <th class="col">UNIT PRICE</th>
              <th class="col">QTY</th>
              <th class="col">TOTAL PRICE</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let product of addedProducts; index as i"
              class="border-bottom"
            >
            <td>   
              <i
              (click)="removeItemFromCart(product)"
              class="cursor bi bi-x text-danger fs-4"
            ></i></td>
              <td>
                <img
                  [src]="setProductPic(product.productId)"
                  class="img-fluid table-img"
                />
              </td>
              <td style="width: 40%;">
                <div class="accordion" [id]="'accordionProduct' + i">
                  <div class="accordion-item border-0">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed pb-0 pt-3 ps-0"
                        type="button"
                        (click)="toggleAccordion(i)"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#productInfo' + i"
                        [ngClass]="{
                          collapsed: !isAccordionOpen[i],
                          expanded: isAccordionOpen[i]
                        }"
                        [attr.aria-expanded]="
                          isAccordionOpen[i] ? 'true' : 'false'
                        "
                      >
                        <h5>{{ product.productName }}</h5>
                      </button>
                    </h2>
                    <div
                      [id]="'productInfo' + i"
                      class="accordion-collapse collapse"
                      [attr.data-bs-parent]="'#accordionProduct' + i"
                      [ngClass]="{ show: isAccordionOpen[i] }"
                    >
                      <div class="accordion-body">
                        <p [innerHTML]="product?.cutInfo"></p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>${{ product.price }}</td>
              <td>
                <div class="d-flex align-items-center">
                  <a class="quantity__minus"
                    ><span
                      class="cursor"
                      (click)="addMoreItem(product, 'minus')"
                      >-</span
                    ></a
                  >
                  <input
                    name="quantity"
                    type="text"
                    [(ngModel)]="product.quantity"
                    class="quantity__input"
                    disabled
                  />
                  <a class="quantity__plus"
                    ><span class="cursor" (click)="addMoreItem(product, 'plus')"
                      >+</span
                    ></a
                  >
                </div>
              </td>
              <td>${{ product.totalPrice }}</td>
            </tr>
            <tr *ngIf="addedProducts.length > 0">
              <td colspan="4"></td>
              <td class="py-3 fs-2 fw-semibold">TOTAL</td>
              <td class="py-3 fs-2 fw-semibold">${{ orderTotal }}</td>
            </tr>
            <tr *ngIf="addedProducts.length > 0">
              <td colspan="4"></td>
              <td colspan="2">
                <button
                  (click)="makePayment()"
                  class="btn text-light w-100 rounded-1 button-orange"
                  type="button"
                >
                  Proceed To Make Payment
                </button>
              </td>
            </tr>
            <tr *ngIf="addedProducts.length == 0">
              <td colspan="2"></td>
              <td class="fw-semibold text-center" colspan="2">
                No products added.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #removeItemFromCartTemplate let-modal>
  <div class="modal-header border-bottom py-2">
    <h5 class="modal-title">Confirmation</h5>
    <i class="fas fa-times close-icon mt-2" (click)="modal.close()"></i>
  </div>
  <div class="modal-body">
    <div class="pb-2 px-2">
      <div class="py-2 text-black">
        <span>Would you Like To Remove Item From Cart?</span>
      </div>
      <div class="mt-2 d-flex justify-content-end">
        <button type="button" class="btn rounded-1 button-warning me-2">
          Yes
        </button>
        <button class="btn btn-light-primary" (click)="modal.close()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
