<section class="mt-5">
  <div class="container">
    <div class="bg-white p-5 mt-4">
      <div class="d-flex">
        <span class="text-secondary"> Home /&nbsp; </span>
        <span class="text-secondary">Shop /&nbsp; </span>
        <span>Cart</span>
      </div>
      <h1 class="pt-3 sub-title">Cart</h1>
      <div class="table-responsive py-3">
        <table class="table align-middle table-borderless">
          <thead class="border-bottom">
            <tr class="">
              <th colspan="1"></th>
              <th>PRODUCT</th>
              <th>UNIT PRICE</th>
              <th>QTY</th>
              <th>TOTAL PRICE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of addedProducts" class="border-bottom">
              <td>
                <i
                  (click)="removeItemFromCart(product)"
                  class="cursor bi bi-x text-danger pe-1"
                ></i
                ><img
                  src="assets/cart/article1.png"
                  class="img-fluid table-img"
                />
              </td>
              <td style="width: 30%">
                <div class="accordion">
                  <div class="accordion-item border-0">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed pb-0 pt-3"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#productInfo"
                        aria-expanded="false"
                        aria-controls="productInfo"
                      >
                        <h5>{{ product.name }}</h5>
                      </button>
                    </h2>
                    <div id="productInfo" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <p>{{ product?.cutInfo }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>{{ product.price }}</td>
              <td>
                <div class="d-flex align-items-center">
                  <a class="quantity__minus"
                    ><span
                      class="cursor"
                      (click)="addMoreItem(product, 'minus')"
                      >-</span
                    ></a
                  >
                  <input
                    name="quantity"
                    type="text"
                    [(ngModel)]="product.count"
                    class="quantity__input"
                    disabled
                  />
                  <a class="quantity__plus"
                    ><span class="cursor" (click)="addMoreItem(product, 'plus')"
                      >+</span
                    ></a
                  >
                </div>
              </td>
              <td>{{ product.price * product.count }}</td>
            </tr>
            <tr *ngIf="addedProducts.length > 0">
              <td colspan="3"></td>
              <td class="py-3 fs-2 fw-semibold">TOTAL</td>
              <td class="py-3 fs-2 fw-semibold">{{ orderTotal }}</td>
            </tr>
            <tr *ngIf="addedProducts.length > 0">
              <td colspan="3"></td>
              <td colspan="2">
                <button
                  (click)="makePayment()"
                  class="btn text-light w-100 rounded-1 button-orange"
                  type="button"
                >
                  Proceed To Make Payment
                </button>
              </td>
            </tr>
            <tr *ngIf="addedProducts.length == 0">
              <td colspan="2"></td>
              <td class="fw-semibold text-center" colspan="2">
                No products added.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<ng-template #removeItemFromCartTemplate let-modal>
  <div class="modal-header border-bottom py-2">
    <h5 class="modal-title">Confirmation</h5>
    <i class="fas fa-times close-icon mt-2" (click)="modal.close()"></i>
  </div>
  <div class="modal-body">
    <div class="pb-2 px-2">
      <div class="py-2 text-black">
        <span>Would you Like To Remove Item From Cart?</span>
      </div>
      <div class="mt-2 d-flex justify-content-end">
        <button type="button" class="btn rounded-1 button-warning me-2">
          Yes
        </button>
        <button class="btn btn-light-primary" (click)="modal.close()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
