.img {
  height: 60px;
  width: 60px;
}

.text-title {
  font: normal normal bold 22px/26px Georgia;
}

.form-check-input:checked {
  background-color: #ff0000;
  border-color: #ff0000;
}
@media (max-width: 767.98px) {
.text-title {
  font: normal normal bold 18px/21px Georgia;
}
}
