.img {
  height: 60px;
  width: 60px;
}

.text-title {
  font: normal normal bold 22px/26px Georgia;
}

.form-check-input:checked {
  background-color: #FF0000;
  border-color: #FF0000;
}

#deliveryOptions {
  display: none;
}