<section class="py-5 mt-5 bg-light-gray">
  <div class="container">
    <div class="p-md-5 p-3 bg-white mt-4">
      <app-bread-crumb [links]="links"></app-bread-crumb>

      <h1 class="sub-title">Checkout</h1>

      <form>
        <div class="row pt-4">
          <div class="col-md-6">
            <div class="form-check mb-4">
              <input
                [(ngModel)]="isSelfPickUp"
                [ngModelOptions]="{ standalone: true }"
                class="form-check-input"
                type="checkbox"
                (change)="onChangeType($any($event.target).checked)"
                id="selfPickup"
              />
              <label class="form-check-label" for="selfPickup">
                Self Pickup
              </label>
            </div>

            <div id="shippingAddress">
              <form [formGroup]="userDetailsForm">
                <div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <label for="firstName" class="form-label"
                        >First Name <span class="text-orange">*</span></label
                      >
                      <input
                        formControlName="firstName"
                        type="text"
                        class="form-control"
                        id="firstName"
                        name="firstName"
                        [(ngModel)]="firstName"
                        [class.is-invalid]="
                          isFieldValid(userDetailsForm, 'firstName')
                        "
                      />
                      <span
                        class="text-orange"
                        *ngIf="
                          hasError(userDetailsForm, 'firstName', 'required')
                        "
                        >Please enter a first name.
                      </span>
                    </div>
                    <div class="col-md-6">
                      <label for="lastName" class="form-label"
                        >Last Name
                        <span class="text-orange">*</span>
                      </label>
                      <input
                        formControlName="lastName"
                        type="text"
                        class="form-control"
                        id="lastName"
                        name="lastName"
                        [(ngModel)]="lastName"
                        [class.is-invalid]="
                          isFieldValid(userDetailsForm, 'lastName')
                        "
                      />
                      <span
                        class="text-orange"
                        *ngIf="
                          hasError(userDetailsForm, 'lastName', 'required')
                        "
                        >Please enter a last name.
                      </span>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label"
                      >Email Address
                      <span class="text-orange">*</span>
                    </label>
                    <input
                      formControlName="emailAddress"
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      [(ngModel)]="emailAddress"
                      [class.is-invalid]="
                        isFieldValid(userDetailsForm, 'emailAddress')
                      "
                    />
                    <span
                      class="text-orange"
                      *ngIf="
                        hasError(userDetailsForm, 'emailAddress', 'required')
                      "
                      >Please enter an email address.
                    </span>
                  </div>

                  <div class="mb-3">
                    <label for="phone" class="form-label"
                      >Phone Number
                      <span class="text-orange">*</span>
                    </label>
                    <input
                      formControlName="phoneNumber"
                      type="number"
                      class="form-control"
                      id="phone"
                      name="phone"
                      placeholder=""
                      [(ngModel)]="phoneNumber"
                      [class.is-invalid]="
                        isFieldValid(userDetailsForm, 'phoneNumber')
                      "
                    />
                    <span
                      class="text-orange"
                      *ngIf="
                        hasError(userDetailsForm, 'phoneNumber', 'required')
                      "
                      >Please enter the phone number.
                    </span>
                  </div>

                  <div class="mb-3">
                    <label for="company" class="form-label"
                      >Company(Optional)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="company"
                      name="company"
                      placeholder=""
                      formControlName="company"
                    />
                  </div>
                </div>
                <div *ngIf="!isSelfPickUp">
                  <h2 class="text-title">Shipping Address</h2>
                  <hr class="border" />
                </div>
                <div *ngIf="!isSelfPickUp">
                  <div class="mb-3">
                    <label for="country" class="form-label"
                      >Country/ Region
                      <span class="text-orange">*</span>
                    </label>

                    <input
                      class="form-control"
                      type="text"
                      id="country"
                      name="country"
                      formControlName="country"
                      formControlName="country"
                      [(ngModel)]="country"
                      [class.is-invalid]="
                        isFieldValid(userDetailsForm, 'country')
                      "
                      aria-label=".form-select-lg example"
                    />

                    <!-- <select
                      class="form-select form-select mb-3"
                      id="country"
                      name="country"
                      formControlName="country"
                      formControlName="country"
                      [(ngModel)]="country"
                      [class.is-invalid]="
                        isFieldValid(userDetailsForm, 'country')
                      "
                      aria-label=".form-select-lg example"
                    >
                      <option value="US">USA</option>
                      <option value="India">India</option>
                      <option value="UK">UK</option>
                    </select> -->
                    <span
                      class="text-orange"
                      *ngIf="hasError(userDetailsForm, 'country', 'required')"
                      >Please select the country.
                    </span>
                  </div>

                  <div class="mb-3">
                    <label for="address" class="form-label"
                      >Address <span class="text-orange">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="address1"
                      name="address"
                      formControlName="address1"
                      placeholder="House name and street name"
                      [(ngModel)]="address1"
                      [class.is-invalid]="
                        isFieldValid(userDetailsForm, 'address1')
                      "
                    />
                    <span
                      class="text-orange"
                      *ngIf="hasError(userDetailsForm, 'address1', 'required')"
                      >Please enter the address.
                    </span>
                    <input
                      type="text"
                      class="form-control mt-4"
                      id="address2"
                      name="address2"
                      formControlName="address2"
                      placeholder="Appartment,suit ,unit,etc.(Optional)"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="city" class="form-label"
                      >Town / City
                      <span class="text-orange">*</span>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      name="city"
                      formControlName="city"
                      [(ngModel)]="city"
                      [class.is-invalid]="isFieldValid(userDetailsForm, 'city')"
                    />
                    <span
                      class="text-orange"
                      *ngIf="hasError(userDetailsForm, 'city', 'required')"
                      >Please enter the city.
                    </span>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="state" class="form-label"
                          >State
                          <span class="text-orange">*</span>
                        </label>

                        <input
                          type="text"
                          name="state"
                          formControlName="state"
                          class="form-control"
                          for="state"
                          [(ngModel)]="state"
                          [class.is-invalid]="
                            isFieldValid(userDetailsForm, 'state')
                          "
                        />
                        <!-- <select
                          id="state"
                          name="state"
                          formControlName="state"
                          class="form-select"
                          for="state"
                          [(ngModel)]="state"
                          [class.is-invalid]="
                            isFieldValid(userDetailsForm, 'state')
                          "
                        >
                          <option value="California">California</option>
                          <option value="Alaska">Alaska</option>
                          <option value="Colorado">Colorado</option>
                        </select> -->
                        <span
                          class="text-orange"
                          *ngIf="hasError(userDetailsForm, 'state', 'required')"
                          >Please select the state.
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-3">
                        <label for="zip" class="form-label"
                          >Zip Code
                          <span class="text-orange">*</span>
                        </label>
                        <input
                          type="number"
                          class="form-control"
                          id="zip"
                          name="zip"
                          formControlName="zipCode"
                          [(ngModel)]="zipCode"
                          [class.is-invalid]="
                            isFieldValid(userDetailsForm, 'zipCode')
                          "
                        />
                        <span
                          class="text-orange"
                          *ngIf="
                            hasError(userDetailsForm, 'zipCode', 'required')
                          "
                          >Please enter the zip code.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div *ngIf="isSelfPickUp" class="mb-3">
              <h2 class="text-title">Ranch Address</h2>
              <hr class="border" />
              <p>San Gabriel River In Liberty Hill, Austin, Texas -73301</p>
            </div>
          </div>

          <div class="col-md-6 px-3">
            <div class="shadow-sm p-md-4 p-2 mb-5 border">
              <span class="text-title"> Your Order </span>
              <div
                class="row pt-3"
                *ngFor="let product of finalOrderProducts; index as i"
              >
                <div class="col-xl-3">
                  <button type="button" class="btn position-relative p-0">
                    <img
                      [src]="setProductPic(product.productId)"
                      class="img-fluid img"
                    />
                    <span
                      class="position-absolute top-0 translate-middle badge rounded-circle bg-danger"
                    >
                      {{ product.quantity }}
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </button>
                </div>
                <div class="col-xl-9">
                  <div
                    class="d-flex justify-content-between align-items-baseline"
                  >
                    <div class="accordion" [id]="'accordionProduct' + i">
                      <div class="accordion-item border-0">
                        <h2 class="accordion-header">
                          <button
                            class="accordion-button collapsed pb-0 pt-3 ps-0"
                            type="button"
                            (click)="toggleAccordion(i)"
                            data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#productInfo' + i"
                            [ngClass]="{
                              collapsed: !isAccordionOpen[i],
                              expanded: isAccordionOpen[i]
                            }"
                            [attr.aria-expanded]="
                              isAccordionOpen[i] ? 'true' : 'false'
                            "
                          >
                            <h5>{{ product.productName }}</h5>
                          </button>
                        </h2>
                        <div
                          [id]="'productInfo' + i"
                          class="accordion-collapse collapse"
                          [attr.data-bs-parent]="'#accordionProduct' + i"
                          [ngClass]="{ show: isAccordionOpen[i] }"
                        >
                          <div class="accordion-body">
                            <p [innerHTML]="product?.cutInfo"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pe-2">
                      ${{ product.quantity * product.price }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive mt-3 border-top">
                <table class="table align-middle table-borderless">
                  <tbody>
                    <tr class="pt-3">
                      <td>Subtotal</td>
                      <td></td>
                      <td class="text-end">${{ orderSubTotal }}</td>
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td></td>
                      <td class="text-end">${{ SHIPPING_AMOUNT }}</td>
                    </tr>
                    <tr>
                      <td>Tax</td>
                      <td></td>
                      <td class="text-end">${{ TAX_AMOUNT }}</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Total</td>
                      <td></td>
                      <td class="fw-bold text-end">${{ orderTotal }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="mb-3 shadow-sm border p-4">
              <div class="text-title pb-2">
                {{ isSelfPickUp ? "Pickup" : "Delivery" }} Date & Time
              </div>
              <div class="mb-3 fw-semibold">
                Please select the delivary date for this order
                <label class="text-danger small"
                  >Note: Available slots days are highlighted here</label
                >
                <label *ngIf="!isStandardCut" class="text-danger small"
                  >Custom Cut Note: Please select date after
                  {{ finalOrderProducts[0]?.customCutAvailabilityDays }}
                  days.</label
                >
                <label
                  *ngIf="isStandardCut && isPreorder"
                  class="text-danger small"
                  >Pre Order Standerd Cut Note: Please select date after
                  {{
                    finalOrderProducts[0]?.expectedAvailabilityDate
                      | date : "MM/dd/yyyy"
                  }}</label
                >
              </div>

              <div class="d-flex flex-wrap justify-content-md-between">
                <button
                  [ngClass]="{
                    'button-orange-weekdays': isSundaySlot,
                    ' border-secondary': !isSundaySlot
                  }"
                  class="btn mb-3"
                >
                  Sun</button
                >&nbsp;
                <button
                  [ngClass]="{
                    'button-orange-weekdays': isMondaySlot,
                    ' border-secondary': !isMondaySlot
                  }"
                  class="btn mb-3"
                >
                  Mon</button
                >&nbsp;
                <button
                  [ngClass]="{
                    'button-orange-weekdays': isTuesdaySlot,
                    ' border-secondary': !isTuesdaySlot
                  }"
                  class="btn mb-3"
                >
                  Tue</button
                >&nbsp;
                <button
                  [ngClass]="{
                    'button-orange-weekdays': isWednesdaySlot,
                    ' border-secondary': !isWednesdaySlot
                  }"
                  class="btn mb-3"
                >
                  Wed</button
                >&nbsp;
                <button
                  [ngClass]="{
                    'button-orange-weekdays': isThursdaySlot,
                    ' border-secondary': !isThursdaySlot
                  }"
                  class="btn mb-3"
                >
                  Thu</button
                >&nbsp;
                <button
                  [ngClass]="{
                    'button-orange-weekdays': isFridaySlot,
                    ' border-secondary': !isFridaySlot
                  }"
                  class="btn mb-3"
                >
                  Fri</button
                >&nbsp;
                <button
                  [ngClass]="{
                    'button-orange-weekdays': isSaturdaySlot,
                    ' border-secondary': !isSaturdaySlot
                  }"
                  class="btn mb-3"
                >
                  Sat
                </button>
              </div>
              <div class="mb-3 pt-2">
                <input
                  type="date"
                  id="birthday"
                  name="birthday "
                  [min]="todayDate"
                  (change)="getCurrentDay(true)"
                  [(ngModel)]="selectedDate"
                  class="form-control mb-3"
                />
              </div>
              <div class="mb-3">
                <select
                  (change)="onChangeSlot()"
                  [(ngModel)]="singleSlotId"
                  class="form-control form-select"
                  name="slot"
                >
                  <option value="">Select Slot</option>
                  <option
                    *ngFor="let item of allFilteredSlots"
                    [value]="item.id"
                  >
                    {{ (item.startTimeHour < 10) ?  '0'+item.startTimeHour : item.startTimeHour }}:{{ (item.startTimeMinut < 10) ? '0'+item.startTimeMinut : item.startTimeMinut
                    }}{{ ' '+item.startTimeUnit }} To {{ (item.endTimeHour < 10) ? '0'+item.endTimeHour : item.endTimeHour }}:{{
                      (item.endTimeMinut<10) ? '0'+item.endTimeMinut : item.endTimeMinut
                    }}{{ ' '+item.endTimeUnit }}
                  </option>
                </select>
              </div>
            </div>
            <a
              (click)="onRedirectToPayment()"
              class="btn button-orange w-100"
              type="button"
              >Checkout</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
