<section class="py-5 mt-5 bg-light-gray">
  <div class="container">
    <div class="p-5 bg-white mt-4">
      <div class="d-flex mb-3">
        <span class="text-secondary"> Home /&nbsp; </span>
        <span class="text-secondary">Shop /&nbsp; </span>
        <span>Checkout</span>
      </div>

      <h1 class="sub-title">Checkout</h1>

      <form>
        <div class="row pt-4">
          <div class="col-md-7">
            <div class="form-check mb-4">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="selfPickup"
              />
              <label class="form-check-label" for="selfPickup">
                Self Pickup
              </label>
            </div>

            <div class="mb-3" id="deliveryOptions">
              <h2 class="text-title">Ranch Address</h2>
              <hr class="border" />
              <p>San Gabriel River In Liberty Hill, Austin, Texas -73301</p>
            </div>
            <div id="shippingAddress">
              <h2 class="text-title">Shipping Address</h2>
              <hr class="border" />

              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="firstName" class="form-label"
                    >First Name <span class="text-orange">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                  />
                </div>
                <div class="col-md-6">
                  <label for="lastName" class="form-label"
                    >Last Name
                    <span class="text-orange">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label"
                  >Email Address
                  <span class="text-orange">*</span>
                </label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                />
              </div>

              <div class="mb-3">
                <label for="phone" class="form-label"
                  >Phone Number
                  <span class="text-orange">*</span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="phone"
                  name="phone"
                  placeholder=""
                />
              </div>

              <div class="mb-3">
                <label for="company" class="form-label"
                  >Company(Optional)</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="company"
                  name="company"
                  placeholder=""
                />
              </div>

              <div class="mb-3">
                <label for="country" class="form-label"
                  >Country/ Region
                  <span class="text-orange">*</span>
                </label>

                <select
                  class="form-select form-select mb-3"
                  id="country"
                  name="country"
                  aria-label=".form-select-lg example"
                >
                  <option selected></option>
                </select>
              </div>

              <div class="mb-3">
                <label for="address" class="form-label"
                  >Address <span class="text-orange">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  placeholder="House name and street name"
                />
                <label for="address2" class="form-label"></label>
                <input
                  type="text"
                  class="form-control"
                  id="address2"
                  name="address2"
                  placeholder="Appartment,suit ,unit,etc.(Optional)"
                />
              </div>

              <div class="mb-3">
                <label for="city" class="form-label"
                  >Town / City
                  <span class="text-orange">*</span>
                </label>
                <input type="text" class="form-control" id="city" name="city" />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="state" class="form-label"
                      >State
                      <span class="text-orange">*</span>
                    </label>
                    <select id="state" name="state" class="form-select">
                      <option selected></option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="zip" class="form-label"
                      >Zip Code
                      <span class="text-orange">*</span>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="zip"
                      name="zip"
                    />
                  </div>
                </div>
              </div>
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="saveAddress"
                />
                <label class="form-check-label" for="saveAddress">
                  Save this address as my default
                </label>
              </div>
              <div class="pt-4">
                <h1 class="text-title">Billing Address</h1>
              </div>
              <hr class="border" />
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="myBilling"
                />
                <label class="form-check-label" for="myBilling">
                  My billing address is same as shipping address
                </label>
              </div>
            </div>
          </div>

          <div class="col-md-5 px-3">
            <div class="shadow-sm p-4 mb-5 border">
              <span class="text-title"> Your Order </span>
              <div class="table-responsive mt-3">
                <table class="table align-middle table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <button type="button" class="btn position-relative p-0">
                          <img
                            src="assets/checkout/about-banner.png"
                            class="img-fluid img"
                          />
                          <span
                            class="position-absolute top-0 translate-middle badge rounded-circle bg-danger"
                          >
                            2
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </button>
                      </td>

                      <td>Native grass-fed artisian beef</td>
                      <td>$998</td>
                    </tr>

                    <tr class="border-bottom">
                      <td>
                        <button type="button" class="btn position-relative p-0">
                          <img
                            src="assets/checkout/article1.png"
                            class="img-fluid img"
                          />
                          <span
                            class="position-absolute top-0 translate-middle badge rounded-circle bg-danger"
                          >
                            2
                            <span class="visually-hidden">unread messages</span>
                          </span>
                        </button>
                      </td>
                      <td>Organic and Grass-Fed</td>
                      <td>$998</td>
                    </tr>

                    <tr class="pt-3">
                      <td>Subtotal</td>
                      <td></td>
                      <td>$1,996</td>
                    </tr>
                    <tr>
                      <td>Shipping</td>
                      <td></td>
                      <td>$40</td>
                    </tr>
                    <tr>
                      <td>Tax</td>
                      <td></td>
                      <td>$70</td>
                    </tr>
                    <tr>
                      <td class="fw-bold">Total</td>
                      <td></td>
                      <td class="fw-bold">$2,106</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="mb-3 shadow-sm border p-4">
              <div class="text-title pb-2">Delivary Date &Time</div>
              <div class="mb-3 fw-semibold">
                Please select the delivary date for this order
              </div>
              <div class="mb-3">
                <input
                  type="date"
                  id="birthday"
                  name="birthday "
                  class="form-control mb-3"
                />
              </div>
              <div class="mb-3">
                <select
                  class="form-select form-select"
                  aria-label=".form-select-sm example"
                >
                  <option selected>9AM to 12PM</option>
                </select>
              </div>
            </div>
            <a
              routerLink="/shop/payment"
              class="btn button-orange w-100"
              type="button"
              >Checkout</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
