<section class="bgAbout">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-text">
        <h1 class="fw-bold text-light main-title">About</h1>
        <h6 class="text-light">Your premier source for exceptional beef</h6>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="fw-bold sub-title">OUR STORY</h2>
      </div>
      <div class="col-md-8">
        <P class="text-center pt-2">
          Founded in the heartland of premium beef production, our journey began
          on the picturesque ridges of our family ranch. For over a century, we
          have honed our craft, refining our methods to raise cattle with the
          utmost care and attention. This deep-rooted connection to the land and
          the animals ensures that every cut of beef we offer is a testament to
          our heritage and dedication.
        </P>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="fw-bold sub-title">Expertise and Craftsmanship</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pt-2">
        <p class="">
          Our team of skilled artisans and butchers meticulously handcraft each
          quality is more than just a word — it's a way of life. Our commitment
          to cut of beef to perfection. With years of experience and a passion
          for their excellence starts with the careful selection of cattle that
          graze on the craft, they ensure that every piece of meat that leaves
          our facility is pristine pastures of our ranch. These cattle are
          raised in a stress-free tender, succulent, and full of flavor. From
          juicy steaks to succulent roasts, environment, allowing them to thrive
          naturally. We believe that the well-our products are a testament to
          the art of butchery.
        </p>
      </div>
      <div class="col-md-6 pt-2">
        <p class="">
          quality is more than just a word — it's a way of life. Our commitment
          to cut of beef to perfection. With years of experience and a passion
          for their excellence starts with the careful selection of cattle that
          graze on the craft, they ensure that every piece of meat that leaves
          our facility is pristine pastures of our ranch. These cattle are
          raised in a stress-free tender, succulent, and full of flavor. From
          juicy steaks to succulent roasts, environment, allowing them to thrive
          naturally. We believe that the well- our products are a testament to
          the art of butchery. being of our animals directly translates into the
          exceptional quality of our beef.
        </p>
      </div>
      <div class="col-md-6 pt-2">
        <p class="">
          We understand that your kitchen is where extraordinary meals come to
          life. Whether you're a seasoned chef or a home cook looking to
          impress, We are committed to sustainable practices that not only
          preserve the our premium beef is your trusted partner in creating
          unforgettable natural beauty of our ranch but also contribute to a
          healthier planet. Our culinary e xperiences. With The Ridge, you're
          not just buying beef; you're eco-conscious approach to beef production
          minimizes waste, conservesinvesting in a tradition of excellence and
          flavor.
        </p>
      </div>
      <div class="col-md-6 pt-2">
        <P class="">
          We are committed to sustainable practices that not only preserve the
          our premium beef is your trusted partner in creating unforgettable
          natural beauty of our ranch but also contribute to a healthier planet.
          Our culinary experiences. With The Ridge, you're not just buying beef;
          you're eco-conscious approach to beef production minimizes waste,
          conserves investing in a tradition of excellence and flavor.
          resources, and prioritizes animal welfare.
        </P>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <img
          src="assets/about/craftmanship.png"
          class="img-fluid rounded-3 w-100"
        />
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="fw-bold sub-title">Our Family Farm</h2>
        <P class="">
          We raise our cattle on the north fork of the San Gabriel River in
          Liberty Hill, Texas. The bulk of our land has been donated to The
          Nature Conservancy and with a grant from Texas Parks and Wildlife
          Department we have established sustainable rotationally grazed native
          grass fields. Our animals are raised in this spacious and clean
          environment, with plenty of access to fresh air and sunshine. We
          believe that by taking care of our land and animals, we can provide
          our customers with the highest quality beef.
        </P>
        <P class="">
          We only raise registered Balancers which allows us 7 generations of
          lineage to craft our beef based on multiple genetic indicators such as
          maternal instinct, milk production, calving ease and growth rates.
        </P>
        <P class="">
          We take pride that our "mamas" think they are just big family pets.
          Our team at Ridge at Loafer's Glory is made up of dedicated family
          members and support staff who are passionate about what they do. We
          work hard every day to ensure that our animals are well-cared for and
          that our crops are healthy and abundant.
        </P>
      </div>
      <div class="col-md-6 col mx-auto">
        <div class="row g-2">
          <div class="col-md-6 mt-5 Grass-Fed">
            <div class=" ">
              <img src="assets/about/sample1.png" class="img-fluid ps-5 pt-5 rounded-3" />
            </div>
            <div class="mt-2">
              <img src="assets/about/beef.png" class="img-fluid rounded-3" />
            </div>
          </div>
          <div class="col-md-6 gy-2">
            <div class=" ">
              <img src="assets/about/ourFamily.png" class="img-fluid rounded-3" />
            </div>
            <div class="mt-2">
              <img src="assets/about/sample2.png" class="img-fluid pe-5 rounded-3" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 shadow py-5">
        <h2 class="text-center fw-bold sub-title pb-3">
          Want to get the latest Updates?
        </h2>
        <form [formGroup]="subscribeForm" class="pt-3">
          <div class="col-md-10 mx-auto">
            <div class="input-group">
              <input
                type="email"
                class="form-control"
                formControlName="emailSubscribe" 
                placeholder="example@yourmail.com"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
                [(ngModel)]="emailSubscribe"
                [class.is-invalid]="isFieldValid(subscribeForm, 'emailSubscribe')"
              />
              <span
                class="input-group-text btn button-orange text-white"
                id="basic-addon2"
                (click)="navigateToHome()"
                >Subscribe
                <i class="bi bi-cursor px-1"></i>
              </span>
            </div>
            <span
            class="text-danger"
            *ngIf="hasError(subscribeForm, 'emailSubscribe', 'required')"
            >Please enter a email.
          </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
