<section class="mt-5 py-5 bg-light-gray">
  <div class="container">
    <div class="row m-4">
      <div class="col-md-12 p-5 shadow-sm bg-white">
        <app-bread-crumb [links]="links" class="bread-crumb"></app-bread-crumb>
        <div class="d-flex flex-column flex-md-row py-2">
          <span class="sub-title">Order Confirmation</span>
          <button
            type="button"
            class="btn button-orange rounded-0 text-white ms-auto py-2"
            (click)="printInvoice()"
          >
            Print
          </button>
        </div>
        <div *ngIf="!isStandardCut && isGoogleLinkShow" class="py-2">
          <span class="fw-bold">Note:</span> For Custom Cut, kindly complete the
          Google Form
        </div>
        <div>
          <a
            class="text-orange fw-bold"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdOuwOSuawMOIri4gf9XD_IfK-jwB26HdyNlqBpRTafemwYQA/viewform?vc=0&c=0&w=1&flr=0"
            data-bs-toggle=""
            data-bs-target=""
            target="_blank"
          >
            Google Form
          </a>
        </div>

        <div class="py-5">
          <div class="small-title">Shipping Address</div>
          <hr class="border" />
          <div class="d-flex flex-column">
            <label class="pt-2"
              >{{ orderDetails?.user?.firstName }}
              {{ orderDetails?.user?.lastName }}</label
            >
            <span>
              {{ orderDetails ? orderDetails["address1"] : "" }} in
              {{ orderDetails ? orderDetails["city"] : "" }},
              {{ orderDetails ? orderDetails["state"] : "" }},{{
                orderDetails ? orderDetails["country"] : ""
              }}
            </span>
          </div>
        </div>

        <!-- <div>
          <div class="small-title">Payment Details</div>
          <hr class="border" />
          <h3>
            <i class="fa-brands fa-cc-visa"></i>
          </h3>
          <div>Visa card ending 8112</div>
        </div> -->

        <div class="pt-2">
          <div class="small-title">Order Details</div>
          <hr class="border" />
          <div class="table-responsive">
            <table class="table align-middle table-borderless">
              <thead>
                <tr>
                  <th>ORDER ID</th>
                  <th>ORDER ON</th>
                  <th>ORDERED ITEMS</th>

                  <th>PRICE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of finalOrderProducts">
                  <td>{{ orderDetails?.orderId }}</td>
                  <td>{{ orderOn }}</td>
                  <td>
                    {{ product.name
                    }}<span>
                      {{ product.quantity >= 2 ? "*" : "" }}
                      {{ product.quantity >= 2 ? product.quantity : "" }}</span
                    >
                  </td>
                  <td>${{ product.price * product.quantity }}</td>
                </tr>

                <tr>
                  <td colspan="2"></td>
                  <td>Subtotal</td>
                  <td>${{ orderSubTotal }}</td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td>Shipping</td>
                  <td>${{ SHIPPING_AMOUNT }}</td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td class="pb-4">Tax</td>
                  <td class="pb-4">${{ TAX_AMOUNT }}</td>
                </tr>

                <tr>
                  <td colspan="2"></td>
                  <td class="line-top fw-semibold">Total</td>
                  <td class="line-top fw-semibold">${{ orderTotal }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5 text-orange fw-semibold"
          id="staticBackdropLabel"
        >
          Custom Cut Selection Reminder
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="mb-0 py-2">
          To confirm your order, please complete the Google Form with custom cut
          details
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn button-orange rounded-0 text-white mx-auto py-2"
        >
          Google Form
        </button>
      </div>
    </div>
  </div>
</div>
