<section #print class="mt-5 py-5 bg-light-gray">
  <div class="container">
    <div class="row mx-2">
      <app-bread-crumb [links]="links" class="bread-crumb"></app-bread-crumb>
      <div class="d-flex flex-column flex-md-row py-2 mb-2">
        <span class="sub-title">Order Confirmation</span>
        <button
          type="button"
          class="btn button-orange rounded-0 text-white ms-auto py-2 hide"
          (click)="printInvoice()"
        >
          Print
        </button>
      </div>
      <div class="col-md-12 px-xl-4 py-4 shadow-sm bg-white">
        <div class="d-flex align-items-center">
          <img src="/assets/ridge-logo.png" alt="logo" class="img-fluid logo" />
          <h3 class="text-center fw-bold text-center w-100">Invoice</h3>
        </div>
        <hr class="border my-1" />

        <div *ngIf="!isStandardCut" class="py-2">
          <span class="fw-bold">Note:</span> For Custom Cut, kindly complete the
          Google Form
        </div>
        <div *ngIf="!isStandardCut">
          <a
            class="text-orange fw-bold"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdOuwOSuawMOIri4gf9XD_IfK-jwB26HdyNlqBpRTafemwYQA/viewform?vc=0&c=0&w=1&flr=0"
            data-bs-toggle=""
            data-bs-target=""
            target="_blank"
          >
            Google Form
          </a>
        </div>

        <div *ngIf="orderDetails?.isSelfPickup" class="py-5">
          <div style="font-weight: bolder" class="small-title mb-2">
            Self Pickup Address:
          </div>
          <p>San Gabriel River In Liberty Hill, Austin, Texas -73301</p>
        </div>
        <div *ngIf="!orderDetails?.isSelfPickup" class="pb-2 pt-4">
          <div class="small-title">Shipping Address</div>
          <hr class="border" />
          <div class="d-flex flex-column">
            <h5 class="pt-2 mb-2 text-capitalize">
              {{ orderDetails?.user?.firstName }}
              {{ orderDetails?.user?.lastName }}
            </h5>
            <p *ngIf="orderDetails" class="mb-0">
              {{ orderDetails ? orderDetails["address1"] : "" }},&nbsp;

              {{ orderDetails ? orderDetails["address2"] : "" }} in
              {{ orderDetails ? orderDetails["city"] : "" }},
              {{ orderDetails ? orderDetails["state"] : "" }},{{
                orderDetails ? orderDetails["country"] : ""
              }}
            </p>
          </div>
        </div>

        <div *ngIf="orderDetails?.company" class="mb-3">
          <label>Company Name : </label>
          <span class="text-capitalize"> {{ orderDetails?.company }}</span>
        </div>

        <!-- <div>
          <div class="small-title">Payment Details</div>
          <hr class="border" />
          <h3>
            <i class="fa-brands fa-cc-visa"></i>
          </h3>
          <div>Visa card ending 8112</div>
        </div> -->

        <div class="pt-4">
          <div class="small-title mb-2 pb-1 pb-xl-0">Order Details</div>
          <div>
            <span class="fw-semibold">Order ID: </span>
            <span>{{ orderDetails?.orderId }}</span>

            <span class="fw-semibold ps-3">Order Date: </span>
            <span>{{ orderOn }}</span>
          </div>
          <hr class="border" />
          <div class="table-responsive">
            <table class="table table-borderless border">
              <thead class="border-bottom">
                <tr>
                  <th>ORDERED ITEMS</th>
                  <th>QUANTITY</th>
                  <th>PRICE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of finalOrderProducts">
                  <td>
                    {{ product.name }}
                  </td>
                  <td> {{ product.quantity }}</td>
                  <td *ngIf="isStandardCut && !isPreorder">
                    ${{ product.unitPrice * product.quantity }}
                  </td>
                  <td *ngIf="!isStandardCut || isPreorder">
                    ${{ product.unitPrice }}
                  </td>
                </tr>

                <tr class="border-top" *ngIf="isStandardCut && !isPreorder">
                  <td colspan="1"></td>
                  <td class="border-top">Subtotal</td>
                  <td class="border-top">${{ orderSubTotal }}</td>
                </tr>

                <tr *ngIf="isStandardCut && !isPreorder">
                  <td colspan="1"></td>
                  <td>Shipping</td>
                  <td>
                    ${{ orderDetails?.isSelfPickup ? 0 : SHIPPING_AMOUNT }}
                  </td>
                </tr>
                <tr *ngIf="isStandardCut && !isPreorder">
                  <td colspan="1"></td>
                  <td class="pb-4">Tax</td>
                  <td class="pb-4">${{ TAX_AMOUNT }}</td>
                </tr>

                <tr *ngIf="isStandardCut && !isPreorder">
                  <td colspan="1"></td>
                  <td class="line-top fw-semibold">Total</td>
                  <td class="line-top fw-semibold">${{ orderTotal }}</td>
                </tr>
              </tbody>
            </table>

            <div *ngIf="!isStandardCut || isPreorder" class="small-title">
              Payment Details
            </div>
            <hr *ngIf="!isStandardCut || isPreorder" class="border" />
            <table class="table table-borderless border">
              <tbody>
                <tr *ngIf="!isStandardCut || isPreorder" class="border-bottom">
                  <td></td>
                  <td colspan="1" class="text-end text-nowrap">
                    {{
                      "Booking amount " +
                        "( " +
                        (orderDetails?.cutType == 2
                          ? orderDetails?.orderItemDetails[0]
                              .customCutPercentage
                          : orderDetails?.orderItemDetails[0]
                              .preorderAmountPercentage) +
                        "% payment of product price ) :"
                    }}
                  </td>
                  <td class="text-center ps-5">
                    ${{ orderDetails?.subTotalAmount }}
                  </td>
                </tr>
                <tr *ngIf="!isStandardCut || isPreorder">
                  <td></td>
                  <td class="fw-semibold text-end" colspan="1" width="70%">
                    Total Booking Amount
                  </td>
                  <td class="fw-semibold text-end">
                    ${{ orderDetails?.subTotalAmount }}
                    <span
                      *ngIf="orderDetails?.paymentStatus == 4"
                      class="fs-6 ms-2 {{
                        commonService.getPaymentStatus(2)?.color
                      }}"
                    >
                      {{ commonService.getPaymentStatus(2)?.status }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="table table-borderless border">
              <tbody>
                <tr *ngIf="!isStandardCut || isPreorder">
                  <td></td>
                  <td colspan="2" width="70%" class="text-end text-nowrap">
                    Balance Due
                  </td>
                  <td class="text-center ps-5">
                    ${{ orderDetails?.secondPayment }}
                  </td>
                </tr>
                <tr *ngIf="!isStandardCut || isPreorder">
                  <td></td>
                  <td colspan="2" width="70%" class="text-end text-nowrap">
                    Shipping
                  </td>
                  <td class="text-center ps-5">
                    ${{ orderDetails?.isSelfPickup ? 0 : SHIPPING_AMOUNT }}
                  </td>
                </tr>
                <tr *ngIf="!isStandardCut || isPreorder" class="border-bottom">
                  <td></td>
                  <td colspan="2" width="70%" class="text-end text-nowrap">
                    Tax
                  </td>
                  <td class="text-center ps-5">${{ TAX_AMOUNT }}</td>
                </tr>

                <tr *ngIf="!isStandardCut || isPreorder">
                  <td></td>
                  <td colspan="2" class="fw-semibold text-end text-nowrap">
                    Total Balance Due
                  </td>
                  <td class="fw-semibold text-end">
                    ${{
                      orderDetails?.isSelfPickup
                        ? orderDetails.secondPayment + TAX_AMOUNT
                        : orderDetails.secondPayment +
                          SHIPPING_AMOUNT +
                          TAX_AMOUNT
                    }}
                    <span
                      *ngIf="orderDetails?.paymentStatus == 4"
                      class="fs-6 ms-2 {{
                        commonService.getPaymentStatus(
                          orderDetails?.paymentStatus
                        )?.color
                      }}"
                    >
                      {{ commonService.getPaymentStatus(1)?.status }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="table table-borderless border">
              <tbody>
                <tr class="border-bottom" *ngIf="!isStandardCut || isPreorder">
                  <td></td>
                  <td
                    colspan="2"
                    width="70%"
                    class="fw-bold text-end text-nowrap"
                  >
                    Grand Total
                  </td>
                  <td class="text-center fw-bold">
                    ${{ orderDetails?.totalAmount }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mb-2">
          <label>
            {{ orderDetails?.isSelfPickup ? "Pickup" : "Delivery" }} Date & Time
            :
          </label>
          <span>
            {{
              orderDetails?.expectedDeliveryDate
                ? (orderDetails?.expectedDeliveryDate | date : "MM/dd/yyyy")
                : "--"
            }}
          </span>
          <span
            >&nbsp;{{
              orderDetails && !orderDetails?.isSelfPickup
                ? "(" + formatTime(orderDetails?.slot) + ")"
                : "(" + formatTime(orderDetails?.pickupSlot) + ")"
            }}
          </span>
        </div>
        <!-- <div *ngIf="orderDetails?.paymentStatus == 4" class="mb-2">
          <label>Remaining Amount To Pay : </label>
          <span class="ms-2">
            ${{ orderDetails?.secondPayment }}
          </span>
        </div> -->

        <div class="mb-2">
          <label>Payment Status : </label>
          <span
            class="ms-2 {{
              commonService.getPaymentStatus(orderDetails?.paymentStatus)?.color
            }}"
          >
            {{
              commonService.getPaymentStatus(orderDetails?.paymentStatus)
                ?.status
                ? commonService.getPaymentStatus(orderDetails?.paymentStatus)
                    ?.status
                : "--"
            }}
          </span>
        </div>
        <div class="mb-2">
          <label>Payment Date : </label>
          <span>
            {{
              orderDetails?.paymentDate
                ? (orderDetails?.paymentDate | date : "MM/dd/yyyy")
                : "--"
            }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5 text-orange fw-semibold"
          id="staticBackdropLabel"
        >
          Custom Cut Selection Reminder
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="mb-0 py-2">
          To confirm your order, please complete the Google Form with custom cut
          details
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn button-orange rounded-0 text-white mx-auto py-2"
        >
          Google Form
        </button>
      </div>
    </div>
  </div>
</div>
