<div
  class="tab-pane fade active rounded bg-white show p-md-5 p-3"
  id="my-account"
  role="tabpanel"
  aria-labelledby="myAccount"
>
  <div class="row justify-content-center flex-column-reverse flex-md-row">
    <div class="col-md-10">
      <app-bread-crumb [links]="links"></app-bread-crumb>
      <h2 class="fw-bold sub-title pt-2">My Account</h2>
      <div class="pt-3">
        <form [formGroup]="myAccountForm">
          <div class="mb-3">
            <label for="firstName" class="form-label"
              >First Name <span class="text-orange">*</span>
            </label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              id="firstName"
              name="firstName"
              [(ngModel)]="firstName"
              [class.is-invalid]="isFieldValid(myAccountForm, 'firstName')"
            />
            <span
              class="text-orange"
              *ngIf="hasError(myAccountForm, 'firstName', 'required')"
              >Please enter a first name.
            </span>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label"
              >Last Name <span class="text-orange">*</span></label
            >
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="lastName"
              name="lastName"
              [(ngModel)]="lastName"
              [class.is-invalid]="isFieldValid(myAccountForm, 'lastName')"
            />
            <span
              class="text-orange"
              *ngIf="hasError(myAccountForm, 'lastName', 'required')"
              >Please enter a last name.
            </span>
          </div>

          <button
            type="submit"
            class="btn rounded-0 text-light button-orange mt-4"
            (click)="updateMyAccountInfo()"
          >
            Save Changes
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-2 d-flex justify-content-center mb-2">
      <div class="position-relative d-inline-block">
        <img
          class="user-profile-pic"
          [src]="commonService.profilePictureUrl"
          (click)="fileInput.click()"
          ngbTooltip="Click To Edit"
        />
        <div>
          <label class="profile-upload">
            <i class="fas fa-pen" (click)="fileInput.click()"></i>
          </label>
        </div>
      </div>
      <input
        type="file"
        #fileInput
        accept=".png, .jpg, .jpeg"
        (change)="onSelectFile($event)"
      />
    </div>
  </div>
</div>
