<section class="my-5 pt-5">
  <div class="container">
    <div class="row mx-auto">
      <div class="shadow-sm bg-white p-md-5 p-3">
        <app-bread-crumb [links]="links"></app-bread-crumb>

        <h2 class="fw-bold sub-title pt-2">{{ selctedProduct?.name }}</h2>

        <div class="row pt-4">
          <div class="col-xl-6 mb-4">
            <img src="/assets/shop/culinary-inspiration.png" class="img-fluid h-100" alt="culinary-inspiration" />
          </div>
          <div class="col-xl-6">
            <h4>{{ selctedProduct?.name }}</h4>
            <div class="d-flex">
              <div>
                <span [ngClass]="getStarClass(1, avg)" class="fa fa-star"></span>
                <span [ngClass]="getStarClass(2, avg)" class="fa fa-star"></span>
                <span [ngClass]="getStarClass(3, avg)" class="fa fa-star"></span>
                <span [ngClass]="getStarClass(4, avg)" class="fa fa-star"></span>
                <span [ngClass]="getStarClass(5, avg)" class="fa fa-star"></span>
              </div>
              <div class="text-muted ps-3">
                {{
                unFilterdallProductReviews
                ? unFilterdallProductReviews.length
                : 0
                }}
                reviews
              </div>
            </div>
            <div class="pt-2">
              <span class="text-orange fs-3">${{ selctedProduct?.price }}</span>
              <!-- <span
                class="fs-3 ps-2 text-decoration-line-through text-secondary"
                >$599</span
              > -->
            </div>
            <hr class="border" />
            <p>
              {{ selctedProduct?.description }}
            </p>
            <!-- <p>
              Dive into a world of rich, mouthwatering flavors with our
              assortment of 120 lbs of assorted roasts, including Chuck, Brisket
              (2 types), Short Ribs, Rump, Arm, and Round. These cuts are
              perfect for slow-cooking and roasting, promising exceptional
              tenderness and taste.
            </p> -->
            <div class="d-flex">
              <div class="number d-flex justify-content-evenly align-items-center col-4 bg-pink">
                <span [ngClass]="{ pointer: addMultipe == 0 }" class="minus cursor"
                  (click)="addMoreToCart(false)">-</span>
                <input [(ngModel)]="addMultipe" type="text" class="count w-25" disabled />
                <span (click)="addMoreToCart(true)" class="plus cursor">+</span>
              </div>
              <button class="btn btn ms-3 bg-pink px-4" (click)="onNavigateToCart()">
                Add To Cart
              </button>
            </div>
          </div>
        </div>

        <div class="bg-light-gray mt-5 p-4">
          <h4 class="text-orange">Product Infomation</h4>
          <hr class="border" />
          <p [innerHTML]="selctedProduct?.cutInfo"></p>
        </div>

        <!-- <div class="row gy-4 py-5">
          <h2 class="fw-bold sub-title text-center">Related Products</h2>
          <div *ngFor="let product of reletedProductsList" class="col-md-3">
            <div class="card rounded-4 shadow-sm">
              <img class="content-image" src="/assets/shop/products.png" class="img-fluid" alt="" />
              <div class="card-body text-center">
                <h5 class="card-title fw-bold pb-2">{{ product.name }}</h5>
                <div class="d-flex justify-content-around">
                  <span class="card-text fw-bold">${{ product.price }}</span>
                  <div class="vr"></div>
                  <div class="d-flex text-orange">
                    <i class="bi bi-cart-plus-fill"></i>
                    <span class="mx-3">Add</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row py-3">
          <div class="col-md-4 mb-3">
            <h4>Customer Reviews</h4>
            <div class="d-flex py-2">
              <div>
                <span [ngClass]="getStarClass(1, avg)" class="fa fa-star"></span>
                <span [ngClass]="getStarClass(2, avg)" class="fa fa-star"></span>
                <span [ngClass]="getStarClass(3, avg)" class="fa fa-star"></span>
                <span [ngClass]="getStarClass(4, avg)" class="fa fa-star"></span>
                <span [ngClass]="getStarClass(5, avg)" class="fa fa-star"></span>
              </div>
              <div class="text-muted ps-3">{{ avg }} out of 5</div>
            </div>
            <h6 class="text-muted pt-2">
              {{
              unFilterdallProductReviews
              ? unFilterdallProductReviews.length
              : 0
              }}
              reviews
            </h6>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">5 Stars</span>
              <div class="progress w-50">
                <div class="progress-bar" role="progressbar" [style.width.%]="getPercentage(5)" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="ps-2">{{ getPercentage(5) }}%</span>
            </div>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">4 Stars</span>
              <div class="progress w-50">
                <div class="progress-bar" role="progressbar" [style.width.%]="getPercentage(4)" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="ps-2">{{ getPercentage(4) }}%</span>
            </div>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">3 Stars</span>
              <div class="progress w-50">
                <div class="progress-bar" role="progressbar" [style.width.%]="getPercentage(3)" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="ps-2">{{ getPercentage(3) }}%</span>
            </div>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">2 Stars</span>
              <div class="progress w-50">
                <div class="progress-bar" role="progressbar" [style.width.%]="getPercentage(2)" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="ps-2">{{ getPercentage(2) }}%</span>
            </div>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">1 Star</span>
              <div class="progress w-50">
                <div class="progress-bar" role="progressbar" s [style.width.%]="getPercentage(1)" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="ps-2">{{ getPercentage(1) }}%</span>
            </div>
            <h4 *ngIf="isShowWriteReviewbtn" class="py-2">
              Review this product
            </h4>
            <button *ngIf="isShowWriteReviewbtn" class="btn button-orange" (click)="onOpenRatePopUp(addReviewTemplate)">
              Write A Product Review
            </button>
          </div>
          <div class="col-md-8">
            <h5>Sort & Filter</h5>
            <div class="row pt-2">
              <div class="col-md-6">
                <div class="d-flex align-items-center mb-2">
                  <label for="sortBy">Sort By</label>
                  <select (change)="sortReviewArray()" class="form-select w-75 ms-2" id="sortBy" name="sortBy"
                    [(ngModel)]="sortkey" aria-label="Default select example">
                    <option value="recent">Most recent</option>
                    <option value="oldest">Oldest First</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center mb-2">
                  <label for="sortBy">Rating</label>
                  <select class="form-select w-75 ms-2" id="rating" name="rating" [(ngModel)]="rating"
                    (change)="sortByRating()" aria-label="Default select example">
                    <option value="">All</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                  </select>
                </div>
              </div>
            </div>
            <hr class="border" />
            <div *ngIf="allProductReviews.length" class="review-box">
              <div *ngFor="let item of allProductReviews">
                <div class="row">
                  <div class="col-10">
                    <div class="d-flex align-items-start pt-3">
                      <img [src]="getProfileImage(item.userDetails.id)" class="mr-3 img-fluid rounded-circle"
                        style="width: 12%" alt="..." />
                      <div class="ps-3">
                        <h5 class="mt-0">
                          {{ item.userDetails.firstName }}
                          {{ item.userDetails.lastName }}
                        </h5>
                        <div>
                          <span [ngClass]="getStarClass(1, item.rating)" class="fa fa-star"></span>
                          <span [ngClass]="getStarClass(2, item.rating)" class="fa fa-star"></span>
                          <span [ngClass]="getStarClass(3, item.rating)" class="fa fa-star"></span>
                          <span [ngClass]="getStarClass(4, item.rating)" class="fa fa-star"></span>
                          <span [ngClass]="getStarClass(5, item.rating)" class="fa fa-star"></span>
                        </div>
                        <div class="reviewFont">
                          Reviewed On {{ item.createdAt }}
                        </div>
                        <h6 class="fw-bolder pt-3">{{ item.title }}</h6>
                        <p>
                          {{ item.review }}
                        </p>
                        <div class="gy-2">
                          <span>Was this review helpful?</span>
                          <span><i (click)="onAddReview(item, 'up')"
                              class="bi bi-hand-thumbs-up-fill text-orange cursor"></i></span>
                          <span>{{ item.likeCount }}</span>
                          <span><i (click)="onAddReview(item, 'down')"
                              class="bi bi-hand-thumbs-down-fill cursor"></i></span>
                          <span>{{ item.disLikeCount }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div *ngIf="item.userDetails.id == loginUserId" class="me-2 mt-4">
                      <div class="d-flex justify-content-end">
                        <div class="d-flex">
                          <button (click)="onEditReview(addReviewTemplate, item)" class="btn btn-outline-primary me-1">
                            <i class="color-ff" class="fas fa-pen"></i>
                          </button>
                          <button (click)="onDeleteReview(item)" class="btn btn-outline-danger">
                            <i class="color-ff" class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="!allProductReviews.length">
              <h4>No Products</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Add Review Modal -->

<ng-template #addReviewTemplate let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5 text-orange" id="addReviewModalLabel">
        {{ isEditReview ? "Edit Review" : "Add a Review" }}
      </h1>
      <i class="fas fa-times close-icon mt-2" (click)="modal.close()"></i>
    </div>
    <div class="modal-body px-5 py-4">
      <form [formGroup]="reviewForm">
        <div class="mb-3">
          <label class="pb-2">Your Rating <span class="text-danger">*</span></label>
          <div class="d-flex">
            <ng-container *ngFor="let star of starBox">
              <i class="text-orange fa fa-star" [ngClass]="{ far: !star.value, fas: star.value }"
                (click)="toggleStar(star)">
              </i>
            </ng-container>
          </div>
        </div>
        <div class="mb-3">
          <label class="pb-2">Your Review <span class="text-danger">*</span></label>
          <div class="form-floating">
            <textarea formControlName="review" placeholder="Write your review" id="reviewMessage" class="w-100 p-2"
              rows="4" cols="50" [class.is-invalid]="isFieldValid(reviewForm, 'review')"></textarea>
          </div>
        </div>
        <div class="mb-4">
          <label for="title" class="pb-2">Title Your Review <span class="text-danger">*</span></label>
          <input formControlName="title" type="text" class="form-control py-2" id="title"
            [class.is-invalid]="isFieldValid(reviewForm, 'title')" />
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <button (click)="isEditReview = false; modal.close()" type="button" class="btn" data-bs-dismiss="modal">
        Cancel
      </button>
      <button (click)="submitReview()" type="button" class="btn button-orange">
        {{ isEditReview ? "Edit Review" : "Submit Review" }}
      </button>
    </div>
  </div>
</ng-template>