<section class="my-5 pt-5">
  <div class="container">
    <div class="row mx-auto">
      <div class="shadow-sm bg-white p-md-4 p-3">
        <app-bread-crumb [links]="links"></app-bread-crumb>

        <h2 class="fw-bold sub-title pt-2">{{ selectedProduct?.name }}</h2>

        <div class="row pt-4">
          <div class="col-xl-6 mb-4">
            <img
              *ngIf="selectedProduct"
              [src]="setProductPic(selectedProduct?.id)"
              class="img-fluid h-100 d-block mx-auto"
              alt="culinary-inspiration"
            />
          </div>
          <div class="col-xl-6">
            <h4>{{ selectedProduct?.name }}</h4>
            <div class="d-flex">
              <div>
                <span
                  [ngClass]="getStarClass(1, avg)"
                  class="fa fa-star"
                ></span>
                <span
                  [ngClass]="getStarClass(2, avg)"
                  class="fa fa-star"
                ></span>
                <span
                  [ngClass]="getStarClass(3, avg)"
                  class="fa fa-star"
                ></span>
                <span
                  [ngClass]="getStarClass(4, avg)"
                  class="fa fa-star"
                ></span>
                <span
                  [ngClass]="getStarClass(5, avg)"
                  class="fa fa-star"
                ></span>
              </div>
              <div class="text-muted ps-3">
                {{
                  unFilterdallProductReviews
                    ? unFilterdallProductReviews.length
                    : 0
                }}
                reviews
              </div>
            </div>
            <div class="pt-2">
              <span class="text-orange fs-3"
                >${{ selectedProduct?.price }}</span
              >
            </div>
            <hr class="border" />
            <p>
              {{ selectedProduct?.description }}
            </p>

            <div class="d-flex">
              <div
                *ngIf="selectedProduct?.count != 0"
                class="number d-flex justify-content-evenly align-items-center col-4 bg-pink"
              >
                <span
                  [ngClass]="{ pointer: addMultipe == 0 }"
                  class="minus cursor"
                  (click)="addMoreToCart(false, selectedProduct)"
                  >-</span
                >
                <input
                  [(ngModel)]="addMultipe"
                  type="text"
                  class="count w-25"
                  disabled
                />
                <span
                  (click)="addMoreToCart(true, selectedProduct)"
                  class="plus cursor"
                  >+</span
                >
              </div>
              <button
                *ngIf="selectedProduct?.count == 0"
                class="btn bg-pink px-4"
                (click)="selectCut($event, selectCutTemplate, selectedProduct)"
              >
                Add
              </button>
            </div>
          </div>
        </div>

        <div class="bg-light-gray mt-5 p-4">
          <h4 class="text-orange">Product Infomation</h4>
          <hr class="border" />
          <p [innerHTML]="selectedProduct?.cutInfo"></p>
        </div>

        <div class="row pt-5">
          <div class="col-md-4 mb-3">
            <h4>Customer Reviews</h4>
            <div class="d-flex py-2">
              <div>
                <span
                  [ngClass]="getStarClass(1, avg)"
                  class="fa fa-star"
                ></span>
                <span
                  [ngClass]="getStarClass(2, avg)"
                  class="fa fa-star"
                ></span>
                <span
                  [ngClass]="getStarClass(3, avg)"
                  class="fa fa-star"
                ></span>
                <span
                  [ngClass]="getStarClass(4, avg)"
                  class="fa fa-star"
                ></span>
                <span
                  [ngClass]="getStarClass(5, avg)"
                  class="fa fa-star"
                ></span>
              </div>
              <div class="text-muted ps-3">{{ avg }} out of 5</div>
            </div>
            <h6 class="text-muted pt-2">
              {{
                unFilterdallProductReviews
                  ? unFilterdallProductReviews.length
                  : 0
              }}
              reviews
            </h6>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">5 Star</span>
              <div class="progress w-50">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [style.width.%]="getPercentage(5)"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <span class="ps-2">{{ getPercentage(5) }}%</span>
            </div>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">4 Star</span>
              <div class="progress w-50">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [style.width.%]="getPercentage(4)"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <span class="ps-2">{{ getPercentage(4) }}%</span>
            </div>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">3 Star</span>
              <div class="progress w-50">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [style.width.%]="getPercentage(3)"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <span class="ps-2">{{ getPercentage(3) }}%</span>
            </div>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">2 Star</span>
              <div class="progress w-50">
                <div
                  class="progress-bar"
                  role="progressbar"
                  [style.width.%]="getPercentage(2)"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <span class="ps-2">{{ getPercentage(2) }}%</span>
            </div>
            <div class="d-flex align-items-center pb-2">
              <span class="pe-2">1 Star</span>
              <div class="progress w-50">
                <div
                  class="progress-bar"
                  role="progressbar"
                  s
                  [style.width.%]="getPercentage(1)"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <span class="ps-2">{{ getPercentage(1) }}%</span>
            </div>
            <h4
              *ngIf="isShowWriteReviewbtn && !isLoggedInButtonShow"
              class="py-2 mt-2"
            >
              Review this product
            </h4>
            <button
              *ngIf="isShowWriteReviewbtn && !isLoggedInButtonShow"
              class="btn button-orange"
              (click)="onOpenRatePopUp(addReviewTemplate)"
            >
              Write A Product Review
            </button>
          </div>
          <div class="col-md-8">
            <h5>Sort & Filter</h5>
            <div class="row pt-2">
              <div class="col-md-6">
                <div class="d-flex align-items-center mb-2">
                  <label for="sortBy">Sort By</label>
                  <select
                    (change)="sortReviewArray()"
                    class="form-select w-75 ms-2"
                    id="sortBy"
                    name="sortBy"
                    [(ngModel)]="sortkey"
                    aria-label="Default select example"
                  >
                    <option value="recent">Most recent</option>
                    <option value="oldest">Oldest First</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center mb-2">
                  <label for="sortBy">Rating</label>
                  <select
                    class="form-select w-75 ms-2"
                    id="rating"
                    name="rating"
                    [(ngModel)]="rating"
                    (change)="sortByRating()"
                    aria-label="Default select example"
                  >
                    <option value="">All</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                  </select>
                </div>
              </div>
            </div>
            <hr class="border" />
            <div *ngIf="allProductReviews.length" class="review-box">
              <div *ngFor="let item of allProductReviews">
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between pt-3">
                      <div class="d-flex">
                        <img
                          [src]="getProfileImage(item.userDetails.id)"
                          class="mr-3 img-fluid rounded-circle profileImg"
                          alt="..."
                        />
                        <div class="ps-3">
                          <h5 class="mt-0">
                            {{ item.userDetails.firstName }}
                            {{ item.userDetails.lastName }}
                          </h5>
                          <div>
                            <span
                              [ngClass]="getStarClass(1, item.rating)"
                              class="fa fa-star"
                            ></span>
                            <span
                              [ngClass]="getStarClass(2, item.rating)"
                              class="fa fa-star"
                            ></span>
                            <span
                              [ngClass]="getStarClass(3, item.rating)"
                              class="fa fa-star"
                            ></span>
                            <span
                              [ngClass]="getStarClass(4, item.rating)"
                              class="fa fa-star"
                            ></span>
                            <span
                              [ngClass]="getStarClass(5, item.rating)"
                              class="fa fa-star"
                            ></span>
                          </div>
                          <div class="reviewFont">
                            Reviewed On {{ item.createdAt }}
                          </div>
                          <h6 class="fw-bolder pt-3">{{ item.title }}</h6>
                          <p>
                            {{ item.review }}
                          </p>
                          <div class="gy-2">
                            <span>Was this review helpful?</span>
                            <span class="ps-md-2"
                              ><i
                                (click)="onAddReview(item, 'up')"
                                class="bi bi-hand-thumbs-up-fill text-orange cursor"
                              ></i
                            ></span>
                            <span class="px-md-1">{{ item.likeCount }}</span>
                            <span
                              ><i
                                (click)="onAddReview(item, 'down')"
                                class="bi bi-hand-thumbs-down-fill cursor"
                              ></i
                            ></span>
                            <span class="px-md-1">{{ item.disLikeCount }}</span>
                          </div>
                        </div>
                      </div>

                      <div
                        *ngIf="item.userDetails.id == loginUserId"
                        class="me-2"
                      >
                        <div class="d-flex justify-content-end">
                          <button
                            (click)="onEditReview(addReviewTemplate, item)"
                            class="btn btn-outline-primary me-1"
                          >
                            <i class="color-ff" class="fas fa-pen"></i>
                          </button>
                          <button
                            (click)="onDeleteReview(item)"
                            class="btn btn-outline-danger"
                          >
                            <i class="color-ff" class="fas fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-center"
              *ngIf="!allProductReviews.length"
            >
              <h4>No Reviews.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Add Review Modal -->

<ng-template #addReviewTemplate let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5 text-orange" id="addReviewModalLabel">
        {{ isEditReview ? "Edit Review" : "Add a Review" }}
      </h1>
      <i class="fas fa-times close-icon mt-2" (click)="modal.close()"></i>
    </div>
    <div class="modal-body px-5 py-4">
      <form [formGroup]="reviewForm">
        <div class="mb-3">
          <label class="pb-2"
            >Your Rating <span class="text-danger">*</span></label
          >
          <div class="d-flex">
            <ng-container *ngFor="let star of starBox">
              <i
                class="text-orange fa fa-star"
                [ngClass]="{ far: !star.value, fas: star.value }"
                (click)="toggleStar(star)"
              >
              </i>
            </ng-container>
          </div>
        </div>
        <div class="mb-3">
          <label class="pb-2"
            >Your Review <span class="text-danger">*</span></label
          >
          <div class="form-floating">
            <textarea
              formControlName="review"
              placeholder="Write your review"
              id="reviewMessage"
              class="w-100 p-2"
              rows="4"
              cols="50"
              [class.is-invalid]="isFieldValid(reviewForm, 'review')"
            ></textarea>
          </div>
        </div>
        <div class="mb-4">
          <label for="title" class="pb-2"
            >Title Your Review <span class="text-danger">*</span></label
          >
          <input
            formControlName="title"
            type="text"
            class="form-control py-2"
            id="title"
            [class.is-invalid]="isFieldValid(reviewForm, 'title')"
          />
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <button
        (click)="isEditReview = false; modal.close()"
        type="button"
        class="btn"
        data-bs-dismiss="modal"
      >
        Cancel
      </button>
      <button (click)="submitReview()" type="button" class="btn button-orange">
        {{ isEditReview ? "Update Review" : "Submit Review" }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #selectCutTemplate let-modal>
  <div class="modal-header border-bottom py-2">
    <h5 class="modal-title preorder-title text-orange">Select Cut</h5>
    <i class="fas fa-times close-icon mt-2" (click)="modal.close()"></i>
  </div>
  <div class="modal-body">
    <form [formGroup]="cutForm">
      <div class="d-flex">
        <div class="form-check ml-0 form-check-inline">
          <input
            formControlName="searchCheckOption"
            name="searchCheckOption"
            class="form-check-input"
            type="radio"
            id="standard"
            value="standard"
          />
          <label class="form-check-label" for="standard">Standard Cut</label>
        </div>
        <div
          class="form-check ml-0 form-check-inline"
          *ngIf="selectedProduct.isCustomCut == true"
        >
          <input
            formControlName="searchCheckOption"
            name="searchCheckOption"
            class="form-check-input"
            type="radio"
            id="custom"
            value="custom"
          />
          <label class="form-check-label" for="custom">Custom Cut</label>
        </div>
      </div>
      <div *ngIf="cutForm.controls['searchCheckOption'].value === 'custom'">
        <label class="small text-danger form-check-label">
          Note: For the custom cut, you will have to make advance payment, and
          fill up the Google sheet of custom cut details, which will be
          available on order confirmation page.
        </label>
      </div>
    </form>

    <div class="border mt-2 mx-4">
      <ul class="list-unstyled p-3">
        <li>180 lbs – Ground Beef 2</li>
        <li>
          120 lbs – Assorted Roasts (Chuck, Brisket (2), Short Ribs, Rump, Arm,
          Round)
        </li>
        <li>
          72 lbs - Premium Steaks (Filet, Bone-In Ribeye, Boneless Ribeye, NY
          Strip)
        </li>
        <li>8 lbs - Family Steaks (Sirloin, Bavette, Flat Iron, Tri Tip)</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer justify-content-end">
    <button type="button" class="btn" (click)="modal.close()">Cancel</button>
    <button
      (click)="addProductToCart()"
      type="button"
      class="btn rounded-0 button-orange"
    >
      {{
        cutForm.controls["searchCheckOption"].value === "standard"
          ? "Add to Cart"
          : "Checkout"
      }}
    </button>
  </div>
</ng-template>
