<div
  class="tab-pane fade rounded bg-white show p-4"
  id="my-orders"
  role="tabpanel"
  aria-labelledby="myOrders"
>
  <div class="row justify-content-center">
    <div class="col-md-11">
      <app-bread-crumb [links]="links"></app-bread-crumb>

      <h2 class="fw-bold sub-title py-2">My Orders</h2>

      <div *ngIf="orderDetails.length" class="table-responsive pt-3">
        <table
          datatable
          [dtOptions]="dtOptions"
          class="border shadow-sm bg-white row-border hover"
        >
          <thead>
            <tr>
              <th>ORDER ID</th>
              <th>ORDER DATE</th>
              <th>PRICE</th>
              <th>BALANCE AMOUNT</th>
              <th>CUT TYPE</th>
              <th>ORDER TYPE</th>
              <th>ORDER STATUS</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="p-2 cursor"
              *ngFor="let order of orderDetails"
              (click)="navigateToDetails(order.id)"
            >
              <td>{{ order.orderId }}</td>
              <td>{{ order.createdAt | date : "MM/dd/yyyy" }}</td>
              <td>${{ order.totalAmount | number : ".2-2" }}</td>
              <td>
                <span
                  >${{
                    order.paymentStatus != 2
                      ? (order.secondPayment + order.shippingCharge + order.tax
                        | number : ".2-2")
                      : "0.00"
                  }}</span
                >
              </td>

              <td>{{ commonService.getCustomType(order.cutType) }}</td>
              <td>{{ commonService.getOrderType(order.orderType) }}</td>
              <td>
                <span
                  class="badge p-2 rounded-pill"
                  [ngClass]="
                    commonService.getOrderStatus(order.orderStatus).color
                  "
                >
                  <i class="bi bi-check"></i
                  ><span class="m-2">{{
                    commonService.getOrderStatus(order.orderStatus).status
                  }}</span>
                </span>
              </td>
              <td>
                <i class="fa fa-eye" (click)="navigateToDetails(order.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" *ngIf="!orderDetails.length">
        No orders found.
      </div>
    </div>
  </div>
</div>

<ng-template #canelOrderTemplate let-modal>
  <div class="modal-header border-bottom py-2">
    <h5 class="modal-title">Confirmation</h5>
    <i class="fas fa-times close-icon mt-2" (click)="modal.close()"></i>
  </div>
  <form [formGroup]="cancelReasonForm">
    <div class="modal-body">
      <div class="pb-2 px-2">
        <label>Note: For Refund please contact Administrator.</label
        ><br /><br />
        <label for="">Reason <span class="text-danger">*</span></label>
        <textarea
          [(ngModel)]="cancelReason"
          formControlName="cancelReason"
          class="form-control mb-4"
          [class.is-invalid]="isFieldValid(cancelReasonForm, 'cancelReason')"
        >
        </textarea>
        <span
          class="text-orange"
          *ngIf="hasError(cancelReasonForm, 'cancelReason', 'required')"
          >Please enter reason for cancel.
        </span>

        <div class="mt-2 d-flex justify-content-end">
          <button
            type="button"
            class="btn rounded-1 button-orange me-2 py-1"
            (click)="cancelOrder()"
          >
            Yes
          </button>
          <button class="btn btn-light-primary" (click)="modal.close()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
