<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="m-4 px-5 bg-white">
        <h1 class="sub-title">Sign In</h1>
        <div class="fw-semibold">
          First time logging in?
          <a href="/signup.html" class="text-orange"
            >Create your account now.
          </a>
        </div>
        <div class="row justify-content-center my-4 border shadow-sm bg-white">
          <div class="col-md-6">
            <form class="p-5">
              <div class="mb-4">
                <label for="userNameEmail" class="form-label"
                  >Username or email address
                  <span class="text-orange">*</span>
                </label>
                <input
                  type="email"
                  class="form-control"
                  id="userNameEmail"
                  name="username and email"
                  [(ngModel)]="userName"
                />
              </div>
              <div class="mb-4">
                <label for="password" class="form-label"
                  >Password
                  <span class="text-orange">*</span>
                </label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  [(ngModel)]="password"
                />
              </div>
              <button
                type="submit"
                class="btn rounded-0 button-orange"
                (click)="navigateToHome()"
              >
                Sign In
              </button>

              <div class="pt-3">
                <u class="text-orange"> Forgot Password? </u>
              </div>
            </form>
          </div>
          <div class="col-md-6 p-5">
            <img
              src="assets/signin/microsoft-teams-image.png"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
