<section class="py-5 mt-5 bg-light-gray" #print>
  <div class="container">
    <div class="d-flex justify-content-between mb-4 align-items-xl-center">
      <h2 class="fw-bold sub-title hide">
        <i
          *ngIf="isLoggedIn"
          routerLink="/account/profile/my-orders"
          class="bi-arrow-left cursor"
        ></i>
        <span> Order Details</span>
      </h2>
      <div
        class="text-orange text-decoration-underline fw-bold cursor hide"
        (click)="printInvoice()"
      >
        Print<span class="mx-1"><i class="bi bi-printer text-orange"></i></span>
      </div>
    </div>
    <div class="p-4 bg-white">
      <div class="d-flex align-items-center">
        <img
          src="/assets/ridge-logo.png"
          width="5%"
          alt=""
          class="img-fluid logo d-none d-md-block"
        />
        <h3 class="text-center fw-bold text-center w-100">Invoice</h3>
      </div>
      <hr class="border mt-0 mb-4" />
      <div class="row">
        <div class="mb-2">
          <label>Order ID : </label>
          <span> {{ selectedOrder?.orderId }}</span>
        </div>
        <div class="mb-2">
          <label>Order Date : </label>
          <span> {{ selectedOrder?.createdAt | date : "MM/dd/yyyy" }}</span>
        </div>
        <div class="mb-2">
          <label>Order Type : </label>
          <span>
            {{ commonService.getOrderType(selectedOrder?.orderType) }}
          </span>
        </div>
        <div class="mb-2">
          <label>Cut Type : </label>
          <span>
            {{ commonService.getCustomType(selectedOrder?.cutType) }}
          </span>
        </div>
        <div
          *ngIf="
            selectedOrder?.cutType === 2 && selectedOrder?.paymentStatus !== 1
          "
        >
          <label class="text-danger" for=""
            >If you haven not filled the Google sheet for custom cut details
            please fill it here &nbsp;</label
          >
          <a
            class="fw-bold"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdOuwOSuawMOIri4gf9XD_IfK-jwB26HdyNlqBpRTafemwYQA/viewform?vc=0&c=0&w=1&flr=0"
            target="_blank"
          >
            Google Form
          </a>
        </div>
        <div class="col-md-6 pt-3">
          <div class="mb-2">
            <span class="text-capitalize">
              {{
                selectedOrder?.user.firstName +
                  " " +
                  selectedOrder?.user.lastName
              }}
            </span>
          </div>
          <div class="mb-2">
            <span> {{ selectedOrder?.user.email }}</span>
          </div>
          <div class="mb-2">
            <span> {{ selectedOrder?.user.phoneNumber }}</span>
          </div>
        </div>
        <div class="col-md-6 pt-3">
          <div *ngIf="selectedOrder?.isSelfPickup">
            <div class="fw-bold">Self Pickup Address:</div>
            <p>San Gabriel River In Liberty Hill, Austin, Texas -73301</p>
          </div>
          <div *ngIf="!selectedOrder?.isSelfPickup">
            <div class="fw-bold">Shipping Address:</div>
            <p *ngIf="selectedOrder">
              {{ selectedOrder ? selectedOrder["address1"] : "" }},&nbsp;
              {{ selectedOrder ? selectedOrder["address1"] : "" }} in
              {{ selectedOrder ? selectedOrder["city"] : "" }},
              {{ selectedOrder ? selectedOrder["state"] : "" }},{{
                selectedOrder ? selectedOrder["country"] : ""
              }}
            </p>
          </div>
          <div *ngIf="selectedOrder?.company" class="mb-2">
            <label>Company Name :  </label> 
            <span class="text-capitalize"> {{ selectedOrder?.company}}</span>
          </div>
        </div>
      </div>
      <div class="row py-4">
        <h4>Order Summary</h4>
        <hr class="border" />
        <div class="table-responsive mb-2">
          <table class="table table-borderless border">
            <thead>
              <tr class="border-bottom">
                <th scope="col">Product</th>
                <th scope="col">Quntity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedOrder?.orderItemDetails">
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.unitPrice * item.quantity }}</td>

                <td
                  *ngIf="
                    (selectedOrder?.cutType == 2 ||
                      selectedOrder?.orderType == 2) &&
                    selectedOrder?.paymentStatus === 2
                  "
                >
                  ${{ subTotal + remainingAmount }}
                </td>
              </tr>
              <tr
                class="border-top"
                *ngIf="
                  selectedOrder?.cutType == 1 && selectedOrder?.orderType == 1
                "
              >
                <td colspan="1"></td>
                <td class="text-end text-nowrap"><label>Subtotal: </label></td>
                <td class="line-top fw-semibold">${{ subTotal }}</td>
              </tr>
              <tr
                *ngIf="
                  selectedOrder?.cutType == 1 && selectedOrder?.orderType == 1
                "
              >
                <td colspan="1"></td>
                <td class="text-end text-nowrap"><label>Tax : </label></td>
                <td>${{ selectedOrder?.tax }}</td>
              </tr>
              <tr
                *ngIf="
                  selectedOrder?.cutType == 1 && selectedOrder?.orderType == 1
                "
              >
                <td colspan="1"></td>
                <td class="text-end text-nowrap">
                  <label>Shipping Charge : </label>
                </td>
                <td>${{ selectedOrder?.shippingCharge }}</td>
              </tr>
              <tr
                *ngIf="
                  selectedOrder?.cutType == 1 && selectedOrder?.orderType == 1
                "
                class="align-baseline border-top"
              >
                <td colspan="1"></td>
                <td class="text-end text-nowrap">
                  <label class="fs-4">Total : </label>
                </td>
                <td class="fs-4">${{ selectedOrder?.totalAmount }}</td>
              </tr>
            </tbody>
          </table>
          <h4>Payment Summary</h4>
          <hr class="border" />
          <table
            class="table table-borderless border"
            *ngIf="selectedOrder?.orderType == 2 || selectedOrder?.cutType == 2"
          >
            <tbody>
              <tr>
                <td></td>
                <td colspan="1" width="70%" class="text-end text-nowrap">
                  <label>
                    {{
                      "Booking amount " +
                        "( " +
                        (selectedOrder?.cutType == 2
                          ? selectedOrder?.orderItemDetails[0]
                              .customCutPercentage
                          : selectedOrder?.orderItemDetails[0]
                              .preorderAmountPercentage) +
                        "% payment of product price ) :"
                    }}
                  </label>
                </td>
                <td>${{ selectedOrder?.subTotalAmount }}</td>
              </tr>
              <tr class="align-baseline border-top">
                <td colspan="1"></td>
                <td class="text-end text-nowrap">
                  <label class="fs-5">Total Booking Amount : </label>
                </td>
                <td class="fs-5">
                  ${{ selectedOrder?.subTotalAmount }}
                  <span
                    *ngIf="selectedOrder?.paymentStatus == 4"
                    class="fs-6 ms-2 {{
                      commonService.getPaymentStatus(2)?.color
                    }}"
                  >
                    {{ commonService.getPaymentStatus(2)?.status }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <table
            class="table table-borderless border"
            *ngIf="selectedOrder?.orderType == 2 || selectedOrder?.cutType == 2"
          >
            <tbody>
              <tr>
                <td></td>
                <td colspan="1" width="70%" class="text-end text-nowrap">
                  <label>Balance Due : </label>
                </td>
                <td>${{ selectedOrder?.secondPayment }}</td>
              </tr>
              <tr>
                <td colspan="1"></td>
                <td class="text-end text-nowrap"><label>Tax : </label></td>
                <td>${{ selectedOrder?.tax }}</td>
              </tr>
              <tr>
                <td colspan="1"></td>
                <td class="text-end text-nowrap">
                  <label>Shipping Charge : </label>
                </td>
                <td>
                  ${{
                    selectedOrder?.isSelfPickup
                      ? 0
                      : selectedOrder?.shippingCharge
                  }}
                </td>
              </tr>
              <tr class="align-baseline border-top">
                <td colspan="1"></td>
                <td class="text-end text-nowrap">
                  <label class="fs-5">Total Balance Due : </label>
                </td>
                <td class="fs-5">
                  ${{
                    selectedOrder?.isSelfPickup
                      ? selectedOrder?.secondPayment + selectedOrder?.tax
                      : selectedOrder?.secondPayment +
                        selectedOrder?.shippingCharge +
                        selectedOrder?.tax
                  }}
                  <span
                    *ngIf="selectedOrder?.paymentStatus == 4"
                    class="fs-6 ms-2 {{
                      commonService.getPaymentStatus(
                        selectedOrder?.paymentStatus
                      )?.color
                    }}"
                  >
                    {{ commonService.getPaymentStatus(1)?.status }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <table
            class="table table-borderless border"
            *ngIf="selectedOrder?.orderType == 2 || selectedOrder?.cutType == 2"
          >
            <tbody>
              <tr class="align-baseline border-top">
                <td></td>
                <td colspan="1" width="67%" class="text-end text-nowrap">
                  <label class="fs-5"
                    >Grand Total (Total Booking Amount + Total Balance Due) :
                  </label>
                </td>
                <td class="fs-5">${{ selectedOrder?.totalAmount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mb-2">
          <label>
            {{ selectedOrder?.isSelfPickUp ? "Pickup" : "Delivery" }} Date &
            Time :
          </label>
          <span>
            {{
              selectedOrder?.expectedDeliveryDate
                ? (selectedOrder?.expectedDeliveryDate | date : "MM/dd/yyyy")
                : "--"
            }}
          </span>
          <span
            >&nbsp;
            {{
              selectedOrder && !selectedOrder?.isSelfPickUp
                ? "(" + formatTime(selectedOrder?.slot) + ")"
                : "(" + formatTime(selectedOrder?.pickupSlot) + ")"
            }}
          </span>
        </div>

        <!-- <div *ngIf="selectedOrder?.paymentStatus === 4" class="mb-2">
          <label>Remaining Amount To Pay : </label>
          <span class="ms-2">
            ${{ selectedOrder?.secondPayment }}
          </span>
        </div> -->

        <div class="mb-2">
          <label>Payment Status : </label>
          <span
            class="ms-2 {{
              commonService.getPaymentStatus(selectedOrder?.paymentStatus)
                ?.color
            }}"
          >
            {{
              commonService.getPaymentStatus(selectedOrder?.paymentStatus)
                ?.status
                ? commonService.getPaymentStatus(selectedOrder?.paymentStatus)
                    ?.status
                : "--"
            }}
          </span>
        </div>
        <div class="mb-2">
          <label>Payment Date : </label>
          <span>
            {{
              selectedOrder?.paymentDate
                ? (selectedOrder.paymentDate | date : "MM/dd/yyyy")
                : "--"
            }}
          </span>
        </div>
        <!--<div class="mb-2">
            <label> Payment Method : </label>
            <span> Credit Card (Visa **** 1234)</span>
          </div>-->
      </div>
    </div>

    <div class="d-flex justify-content-end pt-4 flex-column flex-md-row">
      <button
        *ngIf="
          selectedOrder?.orderStatus !== 1 &&
          selectedOrder?.orderStatus !== 2 &&
          isLoggedIn
        "
        type="button"
        class="btn hide button-orange rounded-0 mx-3 text-light mb-3"
        (click)="openCancelDialog(true)"
      >
        Cancel Order
      </button>
      <button
        (click)="navigateToSecondPayment()"
        *ngIf="
          selectedOrder?.paymentStatus == 4 && selectedOrder?.orderStatus == 4
        "
        type="button"
        class="hide btn button-orange rounded-0 mb-3"
      >
        Make Payment
      </button>
    </div>
  </div>
</section>

<ng-template #canelOrderTemplate let-modal>
  <div class="modal-header border-bottom py-2">
    <h5 class="modal-title">Confirmation</h5>
    <i class="fas fa-times close-icon mt-2" (click)="modal.close()"></i>
  </div>
  <form [formGroup]="cancelReasonForm">
    <div class="modal-body px-2">
      <div class="mb-1"><b>Note</b> : For refund contact to admin.</div>
      <div class="mb-1 row">
        <div class="col-md-1"></div>
        <div class="col-md-11">&nbsp;Email : sales@ridgeatloafersglory.com</div>
      </div>
      <div class="mb-1 row">
        <div class="col-md-1"></div>
        <div class="col-md-11">&nbsp;Phone No. : 512-910-7159</div>
      </div>
      <div class="mb-1 mt-4">
        Please specify the reason for cancellation to proceed
      </div>
      <label class="mb-2">Reason <span class="text-danger">*</span></label>
      <textarea
        [(ngModel)]="cancelReason"
        formControlName="cancelReason"
        class="form-control mb-2"
        [class.is-invalid]="isFieldValid(cancelReasonForm, 'cancelReason')"
      >
      </textarea>
      <span
        class="text-orange"
        *ngIf="hasError(cancelReasonForm, 'cancelReason', 'required')"
        >Please enter reason for cancel.
      </span>
    </div>
    <div class="modal-footer mt-2 d-flex justify-content-end">
      <button
        type="button"
        class="btn rounded-0 button-orange me-2 py-1 text-light"
        (click)="cancelOrder()"
      >
        Confirm Cancel
      </button>
      <button class="btn btn-light-primary" (click)="modal.close()">
        Close
      </button>
    </div>
  </form>
</ng-template>
