@media print {
  .hide {
    display: none;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
}

th {
  font: 12px/15px Muli;
  letter-spacing: 0.72px;
  color: #566a7f !important;
  text-transform: uppercase;
  opacity: 1;
}

.logo {
  width: 50px;
}
