<section class="py-5 mt-5 bg-light-gray">
  <div class="container">
    <div class="py-5 bg-white px-4">
      <div class="d-flex">
        <span class="text-secondary"> Home /&nbsp; </span>
        <span class="text-secondary">Shop /&nbsp; </span>
        <span>Checkout</span>
      </div>
      <h1 class="sub-title pt-3">Checkout</h1>
      <div class="row pt-4">
        <div class="col-md-6">
          <div class="d-flex">
            <h2 class="text-title">Shipping Address</h2>
            <div (click)="goBack()" class="text-orange cursor ps-4">Edit</div>
          </div>
          <hr class="border" />
          <span *ngIf="isSelfPickUp" class="pt-3">
            San Gabriel River In Liberty Hill, Austin, Texas -73301
          </span>
          <span class="d-flex" *ngIf="!isSelfPickUp" class="pt-3">
            <span *ngFor="let str of orderAddress">
              {{ str }}
            </span>
          </span>
          <h3 class="pt-5 text-title">Payment Method</h3>
          <hr class="border" />
          <form>
            <div class="d-flex">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <i class="bi bi-credit-card"></i>
                <span class="px-1"> Credit Card </span>
              </div>
              <div class="form-check ms-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <i class="fa-brands fa-paypal" aria-hidden="true"></i>
                <span class="px-1"> Paypal </span>
              </div>
            </div>
            <div class="bg-light-gray mt-4 p-4">
              <div class="mb-3">
                <label for="cardNumber" class="form-label"> Card Number</label>
                <div class="input-col">
                  <input
                    type="text"
                    value=""
                    class="form-control"
                    placeholder="XXX XXX XXXX 9817"
                  />
                  <a>
                    <i class="fa fa-cc-visa times-icon" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="exp" class="form-label">Expiry Date</label>
                  <input
                    type="date"
                    id="exp"
                    name="exp "
                    class="form-control"
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="cvv" class="form-label">CVV</label>
                  <input
                    type="text"
                    id="cvv"
                    name="cvv"
                    class="form-control"
                    placeholder="---"
                  />
                </div>
              </div>
              <div class="mb-3">
                <label for="cardHoldNumber" class="form-label"
                  >Cardholder Name</label
                >
                <input
                  type="text"
                  id="cardHolderName"
                  name="cardHolderName"
                  class="form-control"
                  placeholder="Enter cardholder's full name"
                />
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6 px-3">
          <div class="shadow-sm border p-4 mb-5">
            <span class="text-title"> Your Order </span>
            <div class="table-responsive mt-3">
              <table class="table align-middle table-borderless">
                <tbody>
                  <tr *ngFor="let products of finalOrderProducts; index as i">
                    <td>
                      <button type="button" class="btn position-relative p-0">
                        <img
                          src="assets/checkout/about-banner.png"
                          class="img-fluid img"
                        />
                        <span
                          class="position-absolute top-0 translate-middle badge rounded-circle bg-danger"
                        >
                          {{ products.count }}
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </button>
                    </td>

                    <td>
                      <div class="accordion" id="accordionProduct">
                        <div class="accordion-item border-0">
                          <h2 class="accordion-header">
                            <button
                              class="accordion-button collapsed pb-0 pt-3"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#productInfo' + i"
                              aria-expanded="false"
                              aria-controls="productInfo"
                            >
                              <h5>{{ products?.name }}</h5>
                            </button>
                          </h2>
                          <div
                            [id]="'productInfo' + i"
                            class="accordion-collapse collapse"
                            data-bs-parent="#accordionProduct"
                          >
                            <div class="accordion-body">
                              <p [innerHTML]="products?.cutInfo"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>${{ products.price * products.count }}</td>
                  </tr>
                  <tr class="pt-3">
                    <td>Subtotal</td>
                    <td></td>
                    <td>{{ orderSubTotal }}</td>
                  </tr>
                  <tr>
                    <td>Shipping</td>
                    <td></td>
                    <td>{{ SHIPPING_AMOUNT }}</td>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <td></td>
                    <td>{{ TAX_AMOUNT }}</td>
                  </tr>
                  <tr>
                    <td class="fw-bold">Total</td>
                    <td></td>
                    <td class="fw-bold">{{ orderTotal }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="mb-3 shadow-sm border p-4">
            <div class="text-title pb-2">
              {{ isSelfPickUp ? "Pickup" : "Delivery" }} Date &Time
            </div>
            <div class="mb-3 fw-semibold">
              {{ orderDate }} and {{ orderSlot }}
            </div>
          </div>
          <button
            (click)="onRedirectToOrderConfirm()"
            class="btn button-orange w-100"
            type="button"
          >
            Make Payment
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
