<section class="py-5 mt-5 bg-light-gray">
  <div class="container">
    <div class="py-5 bg-white px-4">
      <app-bread-crumb [links]="links"></app-bread-crumb>
      <h1 class="sub-title pt-3">Checkout</h1>
      <div class="row pt-4">
        <div class="col-md-6">
          <div class="d-flex">
            <h2 class="text-title">
              {{ isSelfPickUp ? "Pickup" : "Shipping" }} Address
            </h2>
            <div (click)="goBack()" class="text-orange cursor ps-4">Edit</div>
          </div>
          <hr class="border" />
          <span *ngIf="isSelfPickUp" class="pt-3">
            San Gabriel River In Liberty Hill, Austin, Texas -73301
          </span>
          <span class="d-flex" *ngIf="!isSelfPickUp" class="pt-3">
            <h5 class="text-capitalize">
              {{ orderAddress["firstName"] }} {{ orderAddress["lastName"] }}
            </h5>

            <p>
              <!-- {{
                orderAddress["company"] ? orderAddress["company"] + "," : ""
              }}&nbsp; -->
               {{ orderAddress["address1"] }},&nbsp;

              {{
                orderAddress["address2"] ? orderAddress["address2"] : ""
              }}&nbsp; in {{ orderAddress["city"] }},
              {{ orderAddress["state"] }},&nbsp;{{
                orderAddress["country"]
              }},&nbsp;{{ orderAddress["zipCode"] }}
            </p>
          </span>

          <h6 class="fw-bold" *ngIf="orderAddress['company']">
            Company Name:
            <span class="fw-light">{{ orderAddress['company'] }}</span>
          </h6>
          
       
          <h3 class="pt-4 text-title">Payment Method</h3>
          <hr class="border" />
          <form [formGroup]="paymentForm">
            <div class="d-flex">
              <div class="form-check">
                <!-- <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                /> -->
                <i class="bi bi-credit-card"></i>
                <span class="px-1"> Credit Card </span>
              </div>
              <!-- <div class="form-check ms-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <i class="fa-brands fa-paypal" aria-hidden="true"></i>
                <span class="px-1"> Paypal </span>
              </div> -->
            </div>
            <div class="bg-light-gray mt-4 p-4">
              <div class="mb-3">
                <label for="cardNumber" class="form-label"> Card Number</label>
                <div class="input-col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="XXXX-XXXX-XXXX-9817"
                    formControlName="cardNumber"
                    [class.is-invalid]="isFieldValid(paymentForm, 'cardNumber')"
                    (ngModelChange)="this.checkCardType.next($event)"
                    (input)="formatCardNumber($event)"
                  />
                  <a>
                    <i
                      *ngIf="!cardImage"
                      class="fas fa-credit-card times-icon"
                      aria-hidden="true"
                    ></i>
                  </a>
                  <img class="card_c" *ngIf="cardImage" [src]="cardImage" />
                </div>
                <span
                  class="text-danger"
                  *ngIf="hasError(paymentForm, 'cardNumber', 'required')"
                >
                  Please enter a card number.
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                    hasError(paymentForm, 'cardNumber', 'invalidCardNumber')
                  "
                >
                  Please enter a valid 16-digit card number.
                </span>
              </div>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <label for="exp" class="form-label">Expiry Month</label>
                  <select
                    formControlName="expiryMonth"
                    id="expiryMonth"
                    name="expiryMonth"
                    class="form-select"
                    [class.is-invalid]="
                      isFieldValid(paymentForm, 'expiryMonth')
                    "
                  >
                    <option value="">Select Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>

                    <!-- <option *ngFor="let unit of months" [value]="unit.id">
                      {{ unit.month }}
                    </option> -->
                  </select>

                  <span
                    class="text-danger"
                    *ngIf="hasError(paymentForm, 'expiryMonth', 'required')"
                    >Please select expiry month.
                  </span>
                </div>
                <div class="mb-3 col-md-4">
                  <label for="exp" class="form-label">Expiry Year</label>
                  <select
                    formControlName="expiryYear"
                    id="expiryYear"
                    name="expiryYear"
                    class="form-select"
                    [class.is-invalid]="isFieldValid(paymentForm, 'expiryYear')"
                  >
                    <option value="">Select Year</option>
                    <option *ngFor="let unit of years" [value]="unit.id">
                      {{ unit.year }}
                    </option>
                  </select>

                  <span
                    class="text-danger"
                    *ngIf="hasError(paymentForm, 'expiryYear', 'required')"
                    >Please select expiry year.
                  </span>
                </div>
                <div class="mb-3 col-md-4">
                  <label for="cvv" class="form-label">CVV</label>
                  <input
                    type="text"
                    id="cvv"
                    name="cvv"
                    class="form-control"
                    placeholder="---"
                    formControlName="cvv"
                    [class.is-invalid]="isFieldValid(paymentForm, 'cvv')"
                  />
                  <span
                    class="text-danger"
                    *ngIf="hasError(paymentForm, 'cvv', 'required')"
                    >Please enter a cvv.
                  </span>

                  <span
                    class="text-danger"
                    *ngIf="
                      paymentForm.get('cvv').hasError('minlength') ||
                      paymentForm.get('cvv').hasError('maxlength')
                    "
                  >
                    CVV must be a 3-digit number.
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="paymentForm.get('cvv').hasError('pattern')"
                  >
                    CVV must contain only numeric characters.
                  </span>
                </div>
              </div>
              <div class="mb-3">
                <label for="cardHoldNumber" class="form-label"
                  >Cardholder Name</label
                >
                <input
                  type="text"
                  id="cardHolderName"
                  name="cardHolderName"
                  class="form-control"
                  placeholder="Enter cardholder's full name"
                  formControlName="cardHolderName"
                  [class.is-invalid]="
                    isFieldValid(paymentForm, 'cardHolderName')
                  "
                />
                <span
                  class="text-danger"
                  *ngIf="hasError(paymentForm, 'cardHolderName', 'required')"
                  >Please enter a cardholder name.
                </span>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6 px-3">
          <label
            *ngIf="isPreorder && isStandardCut"
            class="small text-danger form-check-label"
          >
            Note: For the standard cut, you will have to make advance payment of
            {{ finalOrderProducts[0]?.preorderAmountPercentage }}%
          </label>
          <label
            *ngIf="!isStandardCut"
            class="small text-danger form-check-label"
          >
            Note: For the custom cut, you will have to make advance payment of
            {{ finalOrderProducts[0]?.customCutPercentage }}%
          </label>
          <div class="shadow-sm border p-4 mb-5">
            <span class="text-title"> Your Order </span>
            <div
              class="row pt-3"
              *ngFor="let product of finalOrderProducts; index as i"
            >
              <div class="col-xl-3">
                <button type="button" class="btn position-relative p-0">
                  <img
                    [src]="setProductPic(product.productId)"
                    class="img-fluid img"
                  />
                  <span
                    class="position-absolute top-0 translate-middle badge rounded-circle bg-danger"
                  >
                    {{ product.quantity }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-xl-9">
                <div
                  class="d-flex justify-content-between align-items-baseline"
                >
                  <div class="accordion" id="accordionProduct">
                    <div class="accordion-item border-0">
                      <h2 class="accordion-header">
                        <button
                          class="accordion-button collapsed pb-0 pt-3 ps-0"
                          type="button"
                          data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#productInfo' + i"
                          aria-expanded="false"
                          aria-controls="productInfo"
                        >
                          <h5>{{ product.name }}</h5>
                        </button>
                      </h2>
                      <div
                        [id]="'productInfo' + i"
                        class="accordion-collapse collapse"
                        data-bs-parent="#accordionProduct"
                      >
                        <div class="accordion-body">
                          <p [innerHTML]="product?.cutInfo"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pe-2">
                    ${{ product.quantity * product.price }}
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive mt-3 border-top">
              <table class="table align-middle table-borderless">
                <tbody>
                  <tr *ngIf="!isStandardCut || isPreorder" class="pt-3 fw-bold">
                    <td>
                      {{
                        "Booking Amount ( " +
                          (!isStandardCut && !isPreorder
                            ? finalOrderProducts[0].customCutPercentage
                            : finalOrderProducts[0].preorderAmountPercentage) +
                          "% of product price )"
                      }}
                    </td>
                    <td></td>
                    <td class="text-end">${{ orderSubTotal }}</td>
                  </tr>
                  <tr *ngIf="!isStandardCut || isPreorder" class="fw-bold">
                    <td>
                      <span class="text-danger fs-6">
                        ( Note: You need to pay booking amount now )
                      </span>
                    </td>
                  </tr>
                  <tr *ngIf="!isStandardCut || isPreorder" class="border-top">
                    <td>Balance Due</td>
                    <td></td>
                    <td class="text-end">{{ balanceDue }}</td>
                  </tr>
                  <tr
                    *ngIf="isStandardCut && !isPreorder"
                    class="pt-3 border-top"
                  >
                    <td>Sub Total</td>
                    <td class="text-end"></td>
                    <td class="text-end">${{ orderSubTotal }}</td>
                  </tr>
                  <tr *ngIf="!isSelfPickUp">
                    <td>Shipping</td>
                    <td></td>
                    <td class="text-end">${{ SHIPPING_AMOUNT }}</td>
                  </tr>
                  <tr *ngIf="isSelfPickUp">
                    <td>Shipping</td>
                    <td></td>
                    <td class="text-end">${{ 0 }}</td>
                  </tr>
                  <tr>
                    <td>Tax</td>
                    <td></td>
                    <td class="text-end">${{ TAX_AMOUNT }}</td>
                  </tr>
                  <tr *ngIf="!isStandardCut || isPreorder">
                    <td class="fw-bold">Total Balance Due</td>
                    <td></td>
                    <td class="fw-bold text-end">${{ totalBalanceDue }}</td>
                  </tr>
                  <tr *ngIf="!isStandardCut || isPreorder" class="fw-bold">
                    <td>
                      <span class="text-danger fs-6">
                        ( Note: When your order becomes available, you must pay
                        the Total Balance Due.)
                      </span>
                    </td>
                  </tr>
                  <tr *ngIf="isStandardCut && !isPreorder" class="border-top">
                    <td class="fw-bold">Total</td>
                    <td></td>
                    <td class="fw-bold text-end">${{ orderTotal }}</td>
                  </tr>
                  <tr *ngIf="!isStandardCut || isPreorder" class="border-top">
                    <td class="fw-bold">Grand Total</td>
                    <td></td>
                    <td class="fw-bold text-end">{{ grandTotal }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="mb-3 shadow-sm border p-4">
            <div class="text-title pb-2">
              {{ isSelfPickUp ? "Pickup" : "Delivery" }} Date & Time
            </div>
            <div class="mb-3 fw-semibold">
              {{ orderDate | date : "MM/dd/yyyy" }} and {{ orderSlot }}
            </div>
          </div>
          <button
            *ngIf="!isStandardCut || isPreorder"
            (click)="createOrder()"
            class="btn button-orange w-100 mb-2"
            type="button"
          >
            {{ "Pay Booking Amount of $" + orderSubTotal }}
            <!-- <div
              *ngIf="isLoading"
              class="ml-2 spinner-border spinner-border-sm text-light"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
            <i
              style="color: white"
              *ngIf="!isLoading"
              class="fas fa-paper-plane ml-2"
              aria-hidden="true"
            ></i> -->
          </button>
          <button
            *ngIf="isStandardCut && !isPreorder"
            (click)="createOrder()"
            class="btn button-orange w-100 mb-2"
            type="button"
          >
            Make Payment
          </button>
          <button
            (click)="goBack()"
            class="btn btn-secondary w-100"
            type="button"
          >
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
