<section class="py-5">
  <div class="container">
     <div class="row  pt-5 justify-content-center ">
        <div class="bg-white p-5">
           <h1 class="sub-title">
              Sign Up
           </h1>
           <div class="fw-semibold">
              Already have an account? <a routerLink="/login" class="text-orange">Sign in here.</a>
           </div>
           <div class="row justify-content-center my-4  border shadow-sm m-1">
              <div class="col-md-6">
                 <form class="p-5">
                    <div class="mb-3">
                       <label for="firstName" class="form-label">First Name
                          <span class=" text-orange">*</span>
                       </label>
                       <input type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                    <div class="mb-3">
                       <label for="lastName" class="form-label">Last Name
                          <span class=" text-orange">*</span>
                       </label>
                       <input type="text" class="form-control" id="lastName" name="lastName">
                    </div>
                    <div class="mb-3">
                       <label for="email" class="form-label">Email
                          <span class="text-orange">*</span>
                       </label>
                       <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                       <label for="phoneNumber" class="form-label">Phone Number
                          <span class=" text-orange">*</span>
                       </label>
                       <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                    </div>
                    <div class="mb-3">
                       <label for="password" class="form-label">Password
                          <span class=" text-orange">*</span>
                       </label>
                       <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn rounded-0 text-light button-orange mt-3">Sign Up</button>
                 </form>
              </div>

              <div class="col-md-6  p-5">
                 <img src="assets/signup/microsoft-teams-image1.png" class="img-fluid">
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
