<section class="bgcontact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-text">
        <h1 class="fw-bold text-light main-title">Contact</h1>
        <h6 class="text-light">
          Have questions or want to get in touch with Native Grass-Fed Artisan
          Beef?<br />
          We're here to assist you.
        </h6>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mb-5">
        <div class="p-xl-5">
          <h1 class="sub-title">Say Hello.</h1>
          <p class="pt-3 fw-light">
            Feel free to reach out to us via email or phone during our business
            hours or call to set up an appointment to visit our ranch during our
            open hours. We look forward to hearing from you and sharing our
            passion for artisan beef and sustainable practices.
          </p>
          <div class="pt-4">
            <span><i class="bi bi-geo-alt-fill text-orange pe-2"></i></span>
            <span
              >301 Blessing Ranch Road, Liberty Hill, Texas 78642, United
              States</span
            >
          </div>
          <div class="pt-3">
            <span><i class="bi bi-envelope-fill text-orange pe-2"></i></span>
            sales@ridgeatloafersglory.com
          </div>
          <div class="pt-3">
            <span><i class="bi bi-telephone-fill text-orange pe-2"></i></span>
             512-910-7159
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-xl-5 p-4 bg-white border">
          <h1 class="sub-title">Ask Your Queries</h1>
          <form [formGroup]="contactForm" class="pt-3">
            <div class="mb-3">
              <input
                formControlName="userEmail"
                type="email"
                class="form-control bg-form"
                id="contactForm"
                name="email"
                placeholder="Your Email"
                [(ngModel)]="userEmail"
                [class.is-invalid]="isFieldValid(contactForm, 'userEmail')"
              />
              <span
                class="text-danger"
                *ngIf="hasError(contactForm, 'userEmail', 'required')"
                >Please enter a email.
              </span>
            </div>
            <div class="mb-3">
              <input
                formControlName="subject"
                type="text"
                class="form-control bg-form"
                id="subject"
                name="text"
                placeholder="Subject"
                [(ngModel)]="subject"
                [class.is-invalid]="isFieldValid(contactForm, 'subject')"
              />
              <span
                class="text-danger"
                *ngIf="hasError(contactForm, 'subject', 'required')"
                >Please enter a subject.
              </span>
            </div>
            <div class="mb-3">
              <textarea
                formControlName="message"
                class="form-control bg-form"
                id="message"
                name="text"
                rows="3"
                placeholder="Message"
                [(ngModel)]="message"
                [class.is-invalid]="isFieldValid(contactForm, 'message')"
              ></textarea>
              <span
                class="text-danger"
                *ngIf="hasError(contactForm, 'message', 'required')"
                >Please enter a message.
              </span>
            </div>
            <button
              type="submit"
              class="btn rounded-0 text-light button-orange mt-3 py-2"
              (click)="navigateToHome()"
            >
              Send Message
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
