<section class="mt-5 py-5 bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Tabs nav -->
        <div
          class="nav flex-column nav-pills nav-pills-custom"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link mb-3 p-3 shadow-sm active"
            id="myAccount"
            data-bs-toggle="pill"
            href="#my-account"
            role="tab"
            aria-controls="my-account"
            aria-selected="true"
          >
            <span class="font-weight-bold small text-uppercase"
              >My Account</span
            ></a
          >

          <a
            class="nav-link mb-3 p-3 shadow-sm"
            id="editAddress"
            data-bs-toggle="pill"
            href="#edit-address"
            role="tab"
            aria-controls="edit-address"
            aria-selected="false"
          >
            <span class="font-weight-bold small text-uppercase"
              >Edit Address</span
            ></a
          >

          <a
            class="nav-link mb-3 p-3 shadow-sm"
            id="myOrders"
            data-bs-toggle="pill"
            href="#my-orders"
            role="tab"
            aria-controls="my-orders"
            aria-selected="false"
          >
            <span class="font-weight-bold small text-uppercase"
              >My Orders</span
            ></a
          >
        </div>
      </div>

      <div class="col-md-9">
        <!-- Tabs content -->
        <div class="tab-content shadow-sm" id="v-pills-tabContent">
          <div
            class="tab-pane fade active rounded bg-white show p-5"
            id="my-account"
            role="tabpanel"
            aria-labelledby="myAccount"
          >
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="d-flex">
                  <span class="text-secondary"> Home /&nbsp; </span>
                  <span class="text-secondary">Profile /&nbsp; </span>
                  <span class="">My Account</span>
                </div>

                <h2 class="fw-bold sub-title pt-2">My Account</h2>
                <div class="pt-4">
                  <form>
                    <div class="mb-4">
                      <label for="firstName" class="form-label"
                        >First Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="firstName"
                        name="firstName"
                        placeholder="Gregorgy"
                      />
                    </div>
                    <div class="mb-4">
                      <label for="lastName" class="form-label">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="lastName"
                        name="lastName"
                        placeholder="Kuphal"
                      />
                    </div>
                    <div class="mb-4">
                      <label for="emailAddress" class="form-label"
                        >Email address</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="emailAddress"
                        name="emailAddress"
                        placeholder="gregory.kuphal@nomail.com"
                      />
                    </div>
                    <div class="mb-4">
                      <label for="phone" class="form-label">Phone</label>
                      <input
                        type="number"
                        class="form-control"
                        id="phone"
                        name="phone"
                        placeholder="662-549-9880"
                      />
                    </div>

                    <button
                      type="submit"
                      class="btn rounded-0 text-light button-orange mt-4"
                    >
                      Save Changes
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade rounded bg-white show p-5"
            id="edit-address"
            role="tabpanel"
            aria-labelledby="editAddress"
          >
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="d-flex">
                  <span class="text-secondary"> Home /&nbsp; </span>
                  <span class="text-secondary">Profile /&nbsp; </span>
                  <span class="">Edit Address</span>
                </div>

                <h2 class="fw-bold sub-title pt-2">Edit Address</h2>
                <div class="pt-4">
                  <form>
                    <div class="mb-4">
                      <label for="country" class="form-label"
                        >Country / Region</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="country"
                        name="country"
                        placeholder="Georgia"
                      />
                    </div>
                    <div class="mb-4">
                      <label for="address" class="form-label">Address</label>
                      <input
                        type="text"
                        class="form-control"
                        id="address"
                        name="address"
                        placeholder="Will Branch mouth East"
                      />
                      <input
                        type="text"
                        class="form-control mt-4"
                        id="address1"
                        name="address1"
                        placeholder="Apt. 015"
                      />
                    </div>
                    <div class="mb-4">
                      <label for="city" class="form-label">Town / City</label>
                      <input
                        type="text"
                        class="form-control"
                        id="city"
                        name="city"
                        placeholder="Lake Makenziefurt"
                      />
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <label for="state" class="form-label">State</label>
                        <select class="form-select" name="state" id="state">
                          <option>Idaho</option>
                          <option>Pune</option>
                          <option>Nashik</option>
                        </select>
                      </div>
                      <div class="col-md-6 mb-4">
                        <label for="zipCode" class="form-label">ZIP Code</label>
                        <input
                          type="text"
                          class="form-control"
                          id="zipCode"
                          name="zipCode"
                          placeholder="10504"
                        />
                      </div>
                    </div>

                    <button
                      type="submit"
                      class="btn rounded-0 text-light button-orange mt-4"
                    >
                      Save Changes
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade rounded bg-white show p-5"
            id="my-orders"
            role="tabpanel"
            aria-labelledby="myOrders"
          >
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="d-flex flex-md-row flex-column">
                  <span class="text-secondary"> Home /&nbsp; </span>
                  <span class="text-secondary">Shop /&nbsp; </span>
                  <span class="">My Orders</span>
                </div>

                <h2 class="fw-bold sub-title py-2">My Orders</h2>

                <div class="table-responsive pt-3">
                  <table class="table accordion table-borderless">
                    <thead>
                      <tr class="border-bottom">
                        <th>ORDER ID</th>
                        <th>ORDER DATE</th>
                        <th>PRICE</th>
                        <th>STATUS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        data-bs-toggle="collapse"
                        data-bs-target="#r1"
                        class="border-bottom"
                      >
                        <td>#NG4595F57952</td>
                        <td>9/12/2023</td>
                        <td>$998</td>
                        <td>
                          <span class="badge p-2 rounded-pill bg-green">
                            <i class="bi bi-check"></i
                            ><span class="m-2">Delivered</span>
                          </span>
                        </td>
                        <th scope="row">
                          <i class="bi bi-chevron-down"></i>
                        </th>
                      </tr>
                      <tr
                        class="collapse accordion-collapse"
                        id="r1"
                        data-bs-parent=".table"
                      >
                        <td colspan="5">
                          <div class="table-responsive">
                            <table class="table table-borderless my-2">
                              <thead>
                                <div class="pb-3">
                                  <div class="fw-bold">Delivered to</div>
                                  <span class="">
                                    15071-8112 New Tedshire Heathcote Land 39345
                                    Reece Drive
                                  </span>
                                </div>
                                <tr>
                                  <th>Ordered Items</th>
                                  <th colspan="3"></th>
                                  <th>Price</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Native grass-fed artisan beef x 2</td>
                                  <td colspan="3"></td>
                                  <td>$998</td>
                                </tr>
                                <tr>
                                  <td>Organic and Grass-Fed x 2</td>
                                  <td colspan="3"></td>
                                  <td>$998</td>
                                </tr>
                                <tr>
                                  <td>Subtotal</td>
                                  <td colspan="3"></td>
                                  <td>$1,996</td>
                                </tr>
                                <tr>
                                  <td>$1,996</td>
                                  <td colspan="3"></td>
                                  <td>$40</td>
                                </tr>
                                <tr class="border-bottom">
                                  <td>Tax</td>
                                  <td colspan="3"></td>
                                  <td>$70</td>
                                </tr>
                                <tr class="custom-border">
                                  <td>Total</td>
                                  <td colspan="3"></td>
                                  <td>$2,106</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                      <tr data-bs-toggle="collapse" data-bs-target="#r2" class="border-bottom">
                        <td>#OG3463475374</td>
                        <td>9/12/2023</td>
                        <td>$998</td>
                        <td>
                          <span class="badge p-2 rounded-pill bg-green">
                            <i class="bi bi-check"></i
                            ><span class="m-2">Delivered</span>
                          </span>
                        </td>
                        <th scope="row"><i class="bi bi-chevron-down"></i></th>
                      </tr>
                      <tr
                        class="collapse accordion-collapse"
                        id="r2"
                        data-bs-parent=".table"
                      >
                        <td colspan="5">
                          <div class="table-responsive">
                            <table class="table table-borderless my-2">
                              <thead>
                                <div class="pb-3">
                                <div class="fw-bold">Delivered to</div>
                                <span >
                                  15071-8112 New Tedshire Heathcote Land 39345
                                  Reece Drive
                                </span>
                                </div>
                                <tr>
                                  <th>Ordered Items</th>
                                  <th colspan="3"></th>
                                  <th>Price</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Native grass-fed artisan beef x 2</td>
                                  <td colspan="3"></td>
                                  <td>$998</td>
                                </tr>
                                <tr>
                                  <td>Organic and Grass-Fed x 2</td>
                                  <td colspan="3"></td>
                                  <td>$998</td>
                                </tr>
                                <tr>
                                  <td>Subtotal</td>
                                  <td colspan="3"></td>
                                  <td>$1,996</td>
                                </tr>
                                <tr>
                                  <td>$1,996</td>
                                  <td colspan="3"></td>
                                  <td>$40</td>
                                </tr>
                                <tr class="border-bottom">
                                  <td>Tax</td>
                                  <td colspan="3"></td>
                                  <td>$70</td>
                                </tr>
                                <tr class="custom-border">
                                  <td>Total</td>
                                  <td colspan="3"></td>
                                  <td>$2,106</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
