<!-- <section class="container py-5 mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="action-form">
       <div class="logo mb-4">
          <img src="assets/account/signuplogo.svg" class="img-fluid" style="width: 30%;" alt="logo" />
        </div> 
        <form class="rounded bg-white shadow p-5" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <h3 class="mb-4 titleFont text-center">{{ pageTitle }}</h3>
          <div class="form-group mb-3">
            <input type="password" class="form-control" formControlName="newpassword" placeholder="New Password"
              #newpass />
            <div *ngIf="
                isSubmitted ||
                (resetPasswordForm.controls['newpassword'].invalid &&
                  (resetPasswordForm.controls['newpassword'].dirty ||
                    resetPasswordForm.controls['newpassword'].touched))
              " class="alert text-danger text-start p-0 text-error pt-2">
              <span *ngIf="resetPasswordForm.controls['newpassword'].errors?.['required']">
                Password is required.
              </span>
              <span *ngIf="resetPasswordForm.controls['newpassword'].errors?.['pattern']">
                Password should contain 8 characters, at least 1 uppercase
                letter,1 lowercase letter,1 number and 1 symbol.
              </span>
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="password" class="form-control" formControlName="confirmpassword"
              placeholder="Confirm password" />
              <div *ngIf="
              isSubmitted ||
              (resetPasswordForm.controls['confirmpassword'].invalid && !passwordMatchError &&
                (resetPasswordForm.controls['confirmpassword'].dirty ||
                  resetPasswordForm.controls['confirmpassword'].touched))
            " class="alert text-danger text-start p-0 text-error pt-2">
            <span *ngIf="resetPasswordForm.controls['confirmpassword'].errors?.['required']">
             Confirm password is required.
            </span>
            </div>
            <div *ngIf="passwordMatchError" class="alert text-danger text-start p-0 text-error pt-2">
              <span>
               Confirm password does not match.
              </span>
            </div>  
          </div>       
          <button  type="submit" class="btn btn-submit w-100 mb-3" [disabled]="resetPasswordForm.invalid">
          <span *ngIf="!isAcceptInvitation">Set</span>
          <span *ngIf="isAcceptInvitation">Save</span>  
          </button>
          
        </form>
      </div>
    </div>
  </div>
</section> -->


<section class="py-5">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="p-xl-5 bg-white">
        <h1 class="sub-title">Reset Password</h1>
        <div class="row justify-content-center my-4 border shadow-sm bg-white align-items-center mx-0">
          <div class="col-md-6">
            <form [formGroup]="resetPasswordForm" class="p-xl-5 p-3" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <input type="password" class="form-control" formControlName="newpassword" placeholder="New Password"
                  #newpass />
                <div *ngIf="
                    isSubmitted ||
                    (resetPasswordForm.controls['newpassword'].invalid &&
                      (resetPasswordForm.controls['newpassword'].dirty ||
                        resetPasswordForm.controls['newpassword'].touched))
                  " class="alert text-danger text-start p-0 text-error pt-2">
                  <span *ngIf="resetPasswordForm.controls['newpassword'].errors?.['required']">
                    Password is required.
                  </span>
                  <span *ngIf="resetPasswordForm.controls['newpassword'].errors?.['pattern']">
                    Password should contain 8 characters, at least 1 uppercase
                    letter,1 lowercase letter,1 number and 1 symbol.
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <input type="password" class="form-control" formControlName="confirmpassword"
                  placeholder="Confirm password" />
                  <div *ngIf="
                  isSubmitted ||
                  (resetPasswordForm.controls['confirmpassword'].invalid && !passwordMatchError &&
                    (resetPasswordForm.controls['confirmpassword'].dirty ||
                      resetPasswordForm.controls['confirmpassword'].touched))
                " class="alert text-danger text-start p-0 text-error pt-2">
                <span *ngIf="resetPasswordForm.controls['confirmpassword'].errors?.['required']">
                 Confirm password is required.
                </span>
                </div>
                <div *ngIf="passwordMatchError" class="alert text-danger text-start p-0 text-error pt-2">
                  <span>
                   Confirm password does not match.
                  </span>
                </div>  
              </div>       
              <button  type="submit" class="button-orange w-100 py-2" [disabled]="resetPasswordForm.invalid">
                <span *ngIf="!isAcceptInvitation">Set</span>
                <span *ngIf="isAcceptInvitation">Save</span>  
                </button>
                
            </form>
          </div>
          <div class="col-md-6 d-md-block d-none">
            <img src="assets/signin/microsoft-teams-image.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>