<section class="py-5">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="p-xl-5 bg-white">
        <h1 class="sub-title">Reset Password</h1>
        <div class="row justify-content-center my-4 border shadow-sm bg-white align-items-center mx-0">
          <div class="col-md-6">
            <form [formGroup]="resetPasswordForm" class="p-xl-5 p-3" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password"
                  #newpass />
                <div *ngIf="
                    isSubmitted ||
                    (resetPasswordForm.controls['newPassword'].invalid &&
                      (resetPasswordForm.controls['newPassword'].dirty ||
                        resetPasswordForm.controls['newPassword'].touched))
                  " class="alert text-danger text-start p-0 text-error pt-2">
                  <span *ngIf="resetPasswordForm.controls['newPassword'].errors?.['required']">
                    Password is required.
                  </span>
                  <span *ngIf="resetPasswordForm.controls['newPassword'].errors?.['pattern']">
                    Password should contain 8 characters, at least 1 uppercase
                    letter,1 lowercase letter,1 number and 1 symbol.
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <input type="password" class="form-control" formControlName="confirmPassword"
                  placeholder="Confirm password" />
                  <div *ngIf="
                  isSubmitted ||
                  (resetPasswordForm.controls['confirmPassword'].invalid && !passwordMatchError &&
                    (resetPasswordForm.controls['confirmPassword'].dirty ||
                      resetPasswordForm.controls['confirmPassword'].touched))
                " class="alert text-danger text-start p-0 text-error pt-2">
                <span *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required']">
                 Confirm password is required.
                </span>
                </div>
                <div *ngIf="passwordMatchError" class="alert text-danger text-start p-0 text-error pt-2">
                  <span>
                   Confirm password does not match.
                  </span>
                </div>  
              </div>       
              <button  type="submit" class="button-orange w-100 py-2" [disabled]="resetPasswordForm.invalid">
                <span >Save</span>  
                </button>
                
            </form>
          </div>
          <div class="col-md-6 d-md-block d-none">
            <img src="assets/signin/microsoft-teams-image.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>