.nav-img {
  height: 40px;
  width: 40px;
}

.navbar-nav a {
  color: #fff;
}

.navbar-nav a:hover {
  color: #ef4c00;
}

.icon:hover {
  color: #ef4c00;
}

.nav-item i {
  color: #fff;
}
.button-orange {
  /* box-shadow: 0px 15px 29px #F98169AD; */
  background-color: #ef4c00;
  color: #fff;
  font-family: "Muli";
  padding: 15px 32px;
}
.bi-person-fill {
  color: #fff;
}

.navbar-toggler {
  background-color: #efefef;
}
.active {
  color: #ef4c00 !important;
  font-weight: 900;
}
// .fixed-top {
//   position: static !important;
// }
.cart-count {
  width: 17px;
  font-size: 11px;
  height: 17px;
  position: relative;
  bottom: 29px;
  right: -14px;
}
.no-decoration {
  text-decoration: none !important;
}

@media (max-width: 992px) {
.active {
  color: #fff !important;
  background: #948d8db8;
  border-radius: 4px;
  padding: 7px 8px;
  font-weight: 600;
}
}