<!-- Navbar start -->
<section>
  <div class="fixed-top">
    <nav class="navbar navbar-expand-xl py-3" style="background: #100d0db3">
      <div class="container align-items-baseline">
        <a *ngIf="isNavFeatureShow" routerLink="/home">
          <img src="/assets/ridge-logo.png" class="img-fluid nav-img mx-3"
        /></a>
        <a *ngIf="!isNavFeatureShow">
          <img src="/assets/ridge-logo.png" class="img-fluid nav-img mx-3"
        /></a>
        <!-- Mobile view start-->
        <div
          class="ms-auto d-flex justify-content-end text-light d-xl-none d-block pe-4 align-items-baseline"
          style="padding-bottom: 0"
        >
          <!-- Button for login -->
          <button
            *ngIf="isLogginShow"
            type="button px-3 "
            class="button-login text-light mt-1 nav-link px-4 py-1 rounded-5 button-orange me-2"
            (click)="navigateToLogin()"
          >
            LOGIN
          </button>

          <!-- Cart -->
          <div *ngIf="isNavFeatureShow" class="text-end">
            <a routerLink="/shop/cart" class="text-white no-decoration">
              <i class="bi bi-cart icon"></i>
              <div class="cart-count badge-danger rounded-circle text-center">
                <span>{{ cartValue }}</span>
              </div>
            </a>
          </div>

          <!-- Dropdown for profile -->
          <div
            *ngIf="!isLogginShow && isNavFeatureShow"
            class="dropdown pe-2"
            style="padding-bottom: 0"
          >
            <button
              class="btn border-0 p-0"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="ms-3">
                <img
                  *ngIf="userProfilePic != ''"
                  [src]="userProfilePic"
                  class="img-fluid cursor border rounded-circle profileImg"
                />
              </div>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="account/profile/my-account" class="dropdown-item"
                  >Account</a
                >
              </li>
              <li>
                <a (click)="onLogout()" class="dropdown-item">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Mobile view  end-->

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Desktop and mobile view view start -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li *ngIf="isNavFeatureShow" class="nav-item mx-3">
              <a
                routerLink="/home"
                routerLinkActive="active"
                class="nav-link"
                (click)="closeMobileMenu()"
                aria-current="page"
                >HOME</a
              >
            </li>
            <li *ngIf="isNavFeatureShow" class="nav-item mx-3">
              <a
                routerLink="/about"
                routerLinkActive="active"
                class="nav-link"
                (click)="closeMobileMenu()"
                >ABOUT</a
              >
            </li>
            <li *ngIf="isNavFeatureShow" class="nav-item mx-3">
              <a
                class="nav-link"
                (click)="closeMobileMenu()"
                routerLink="/shop"
                routerLinkActive="active"
                >SHOP</a
              >
            </li>
            <li *ngIf="isNavFeatureShow" class="nav-item mx-3">
              <a
                routerLink="/blog"
                class="nav-link"
                (click)="closeMobileMenu()"
                routerLinkActive="active"
                >BLOG</a
              >
            </li>
            <li *ngIf="isNavFeatureShow" class="nav-item mx-3">
              <a
                class="nav-link"
                (click)="closeMobileMenu()"
                routerLink="/contact"
                routerLinkActive="active"
                >CONTACT</a
              >
            </li>
            <li *ngIf="isLogginShow" class="nav-item mx-3 d-xl-block d-none">
              <button
                type="button px-3"
                class="button-login text-light mt-1 nav-link px-4 py-1 rounded-5 button-orange"
                (click)="navigateToLogin()"
              >
                LOGIN
              </button>
            </li>
            <li *ngIf="isLogginShow" class="nav-item mx-3">
              <a
                routerLink="/account/signup"
                class="nav-link"
                (click)="closeMobileMenu()"
                routerLinkActive="active"
                >Register</a
              >
            </li>
          </ul>
          <div class="d-xl-block d-none w-100">
            <div
              *ngIf="isNavFeatureShow"
              class="ms-auto d-flex flex-column flex-md-row justify-content-end text-light align-items-baseline"
            >
              <!-- <span> <i class="bi bi-search icon mx-3"></i></span> -->
              <a routerLink="/shop/cart" class="text-white no-decoration"
                ><i class="bi bi-cart icon"></i>
                <div
                  *ngIf="cartValue != 0"
                  class="cart-count badge-danger rounded-circle text-center"
                >
                  <span> {{ cartValue }}</span>
                </div>
              </a>

              <div *ngIf="!isLogginShow" class="dropdown">
                <button
                  class="btn border-0 p-0"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <div class="ms-3">
                    <img
                      [src]="userProfilePic"
                      class="img-fluid cursor border rounded-circle profileImg"
                    />
                  </div>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      routerLink="account/profile/my-account"
                      class="dropdown-item"
                      >Account</a
                    >
                  </li>
                  <li>
                    <a (click)="onLogout()" class="dropdown-item">Log Out</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Desktop and mobile view view start -->
      </div>
    </nav>
  </div>
</section>
<!-- Navbar end -->
