<section class="pt-5 mt-4 pt-xl-0 mt-xl-0">
  <div class="container-fluid p-0">
    <div
      *ngIf="promotionList.length"
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          *ngFor="let promotion of promotionList; let i = index"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          [attr.data-bs-slide-to]="i"
          [class.active]="i === 0"
          [attr.aria-label]="'Slide ' + (i + 1)"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          *ngFor="let promotion of promotionList; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <img
            [id]="promotion.id"
            [src]="promotion?.url"
            class="d-block w-100 height"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div *ngIf="!promotionList.length">
      <div class="section py-5">
        <div class="container">
          <div class="row text-white py-5">
            <div class="col-md-8 py-5">
              <h1 class="main-title">
                Good food choices are<br />
                good investments.
              </h1>
              <p class="py-4 text-white opacity-100">
                At "The Ridge at Loafer's Glory," we pride ourselves on
                delivering unparalleled<br />
                quality in every bite. Our commitment to traditional farming
                practices.
              </p>
              <a
                routerLink="/shop"
                type="button"
                class="btn rounded-0 button-orange shadow-none"
                >Shop Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-img-section">
  <section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center align-self-center">
          <h2 class="fw-bold sub-title">Explore Our Products</h2>
          <p class="pt-3">
            Embark on a culinary adventure with our premium organic beef
            products. Explore quality, taste, and sustainability in every bite
          </p>
        </div>
        <div class="row mt-3">
          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)"
          >
            <div ngxSlickItem *ngFor="let product of productList" class="slide">
              <div class="px-2 my-slider">
                <div class="card card-recipes rounded-4">
                  <div class="content-overlay"></div>
                  <img
                    [id]="product.id"
                    style="height: 200px"
                    [src]="product?.url"
                  />
                  <div class="d-flex mb-0 p-2">
                    <h5 class="fw-bold hide-name">{{ product.name }}</h5>
                    <h5 class="ms-auto fw-bold text-orange">
                      ${{ product.price }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
        <div class="text-center pt-md-5 pt-4">
          <a
            routerLink="/shop"
            type="button"
            class="btn rounded-0 button-orange"
            >View All Products</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="py-md-5 py-3">
    <div class="container">
      <div class="row">
        <!-- <div class="bgImag">
          <p class="fs-2 text-white detail">
            Our Family Farm is located north of San Gabriel River,<br />
            in Liberty Hill, Texas. We have established a<br />
            sustainable rotationally grazed native grass fields.
          </p>
        </div> -->
        <img src="/assets/home/our-Family.png" class="img-fluid" alt="">
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="fw-bold sub-title">
            Why Native Grass-fed<br />
            Artisan Beef
          </h2>
          <p class="py-3">
            Our Native Grass-Fed Artisan Beef stands out for its unparalleled
            flavor and quality. The cattle are raised in their natural habitat,
            grazing on the lush, native grasses that our region is known for.
            This natural diet results in beef that's not only tender but also
            rich in flavor. The taste is a testament to the authenticity of our
            artisan approach.
          </p>
          <a
            routerLink="/about"
            type="button"
            class="btn rounded-0 button-orange"
            >Know More About Us</a
          >
        </div>
        <div class="col-md-6 col mx-auto">
          <div class="row g-2">
            <div class="col-md-6">
              <div class=" ">
                <img
                  src="assets/home/a8yt8ici.png"
                  class="img-fluid rounded-3 pt-5 ps-xl-5 d-flex mx-auto w-100"
                />
              </div>
              <div class="mt-3">
                <img
                  src="assets/home/2mou6w3x.png"
                  class="img-fluid rounded-3 d-flex mx-auto w-100"
                />
              </div>
            </div>
            <div class="col-md-6 gy-2">
              <div class=" ">
                <img
                  src="assets/home/qv3g3gmi.png"
                  class="img-fluid rounded-3 d-flex mx-auto w-100"
                />
              </div>
              <div class="mt-2">
                <img
                  src="assets/home/o9kwrr26.png"
                  class="img-fluid rounded-3 d-flex mx-auto w-100 pe-xl-5"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="py-5 bg-light-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="fw-bold sub-title">
          The Ridge at Loafer's Glory a family farm in<br />
          Liberty Hill Texas
        </h2>
      </div>
      <p class="col-md-7 text-center pt-3">
        At "The Ridge at Loafer's Glory," we're more than just a family farm;
        we're a legacy of passion, tradition, and commitment to excellence.
        Nestled in the heart of Liberty Hill, Texas, our farm is where natural
        beauty, ethical farming, and mouthwatering flavors converge.
      </p>
    </div>

    <div class="row pt-md-4">
      <div class="col-md-4 text-center">
        <img src="assets/home/organic.png" class="img-fluid mb-3 h-60" />
        <h4 class="fw-bold">Organic Certification</h4>
        <p class="pt-2">
          Our Organic beef comes with certifications that provide consumers with
          transparency and assurance that the product meets specific organic
          standards
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/home/environment.png" class="img-fluid mb-3 h-60" />
        <h4 class="fw-bold">Environmental Sustainability</h4>
        <p class="pt-2">
          Our Organic beef comes with certifications that provide consumers with
          transparency and assurance that the product meets specific organic
          standards
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/home/healthydiet.png" class="img-fluid mb-3 h-60" />
        <h4 class="fw-bold">Healthy Diet</h4>
        <p class="pt-2">
          Organic beef is not only delicious but Organic beef is not only
          delicious but also healthier for you and your family.It's free from
          synthetic chemicals and antibiotics, making it a cleaner and
          antibiotics, making it a cleaner and more nutritious option.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center bg-order py-5 mx-auto">
      <div class="col-md-10 text-center py-5">
        <h3 class="fw-bold text-white sub-title">
          Order Now and Taste the Difference!
        </h3>
        <p class="pt-3 lh-base text-white opacity-100">
          Indulge in the richness of our premium beef and embark on a culinary
          journey like no<br />
          other. Your taste buds will thank you, and so will the environment.
          Make the choice<br />
          for quality, sustainability, and flavor. Choose The Ridge today!
        </p>
        <div class="pt-4">
          <button
            routerLink="/shop"
            type="button"
            class="btn rounded-0 button-orange shadow-none"
          >
            Order Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-md-5 py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h2 class="fw-bold sub-title pb-3">
          What Our Customers Have to Say<br />
          About The Ridge
        </h2>
      </div>
      <div class="col-md-10 text-center">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy<br />
          eirmod tempor invidunt ut labore et dolore magna.
        </p>

        <div class="ourCustomerSlider">
          <div class="customerSlide">
            <div class="py-3">
              <img
                src="assets/home/gleson.png "
                class="img-fluid rounded-pill mx-auto"
              />
              <h5 class="pt-2 fw-bold">Gleason Tristin</h5>
              <i
                class="fa fa-quote-right text-orange pt-2"
                aria-hidden="true"
              ></i>
            </div>
            <p class="fw-semibold">
              "I'm blown away by the quality of The Ridge's beef. The steaks are
              simply divine, and the ground <br />
              beef makes the juiciest burgers. As someone who loves to cook, |
              can't imagine going back to<br />regular grocery store meat. The
              taste is incomparable.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center mx-auto">
      <div class="col-md-8 shadow-sm py-5">
        <h2 class="text-center fw-bold sub-title pb-3">
          Want to get the latest Updates?
        </h2>

        <div class="col-md-10 mx-auto">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="example@yourmail.com"
              [(ngModel)]="emailSubscribe"
              [class.is-invalid]="formSubmitAttempt && !emailSubscribe"
              [disabled]=""
            />
            <span
              class="input-group-text btn button-orange text-white px-1 px-md-4 d-flex align-items-baseline"
              id="basic-addon2"
              (click)="navigateToHome()"
              >Subscribe
              <i class="bi bi-cursor px-1"></i>
            </span>
          </div>
          <span class="text-danger" *ngIf="formSubmitAttempt && !emailSubscribe"
            >Please enter a email.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
