.section {
  background-image: url("/assets/home/homepagebanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.bgImag {
  background-image: url("/assets/home/ourfamily.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
  border-radius: 20px;
}

.detail {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: normal normal bold 36px/46px Georgia;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.bg-order {
  background-image: url("/assets/home/ctaimage.png");
  border-radius: 5px;
  color: #fff;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.nav-img {
  height: 40px;
  width: 40px;
}

.navbar-nav a {
  color: #fff;
}

.text-orange,
.navbar-nav a:hover,
.icon:hover {
  color: #ef4c00;
}

.bg-footer {
  background-color: #300f00;
}

/* Slider css start */

// .wrapper {
//   padding: 33px 0;
//   overflow-x: hidden;
// }

// .my-slider {
//   padding: 0 70px;
// }

// .my-slider .slick-initialized .slick-slide {
//   height: 65%;
//   margin: 0 15px 0 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .slick-next {
//   right: 15px;
// }

// .slick-prev {
//   left: 15px;
// }
// .slick-prev:before, .slick-next:before

// .slick-prev:before, .slick-next:before{
//   color: #000 !important;
//   font-size: 26px;
// }

.button-orange {
  box-shadow: 0px 15px 29px #f98169ad;
}

.card-recipes {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.card-recipes .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.card-recipes:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  bottom: 100%;
  left: 0%;
  right: 0;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.card-recipes:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
  color: #fff;
}

.content-details h5 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.6em;
}

.fadeIn-top {
  top: 10%;
}

.bg-img-section {
  background-image: url("/assets/home/backgroundimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 600px; */
  background-position: right;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #ef4c00;
}

/* Slider css end */

// .slick-slider {
//   width: 88%;
//   margin: auto;
//   background: rgb(14, 13, 13);
// }

// body .slick-prev,
// body .slick-next {
//   height: 45px;
//   width: 40px;
//   background: #575d59 !important;
//   z-index: 100;
// }



.carousel-caption {
    position: absolute;
    top: 30%;
    left: 15%;
    right: auto;
}
.height {
  height: 500px;
}

.h-60 {
  height: 60px;
}

@media (max-width: 767.98px) {
  .height {
    height: 230px;
  }
}