.bgblog {
  background-image: url("/assets/blog/blogbannerimage.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-text {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.more {
  display: none;
}

.btn:hover {
  background: transparent;
  color: #ef4c00;
}

.border {
  border-color: #ef4c00 !important;
  border: 2px solid #fcded0 !important;
}

@media (max-width: 576px) {
  .about-text {
    left: 50%;
  }
}

.date {
  font: normal normal bold 14px/17px muli;
  letter-spacing: 0.35px;
  color: #262626;
  text-transform: capitalize;
  opacity: 1;
}

.comment {
  font: normal normal bold 14px/17px muli;
  letter-spacing: 0.35px;
}
.tag-highlighter {
  background-color: antiquewhite !important;
}
.elipse-blog {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  margin: 0;
  background: white;
  position: relative; /* Add position: relative for positioning the ::after pseudo-element */
}

.elipse-blog::after {
  content: ".... "; /* Add the dot after the ellipsis */
  position: absolute;
  bottom: 0;
  right: 0;
  background: white; /* Set the background color to match the container */
}
.h-500{
  height: 500px
}

@media (max-width: 767.98px) {
  .h-500{
    height: auto;
  }
}