<section class="bgblog">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-text">
        <h1 class="fw-bold text-light main-title">Blog</h1>
        <h6 class="text-light">
          Join us on this flavorful adventure as we celebrate the land, its
          heritage, and the delicious beef it produces. We're excited to share
          our insights, stories, and expertise with you.
        </h6>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="fw-semibold">TAGS</div>
        <div class="pt-3">
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            Promo
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            Holidays
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            Gift
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            Christmas
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            Giveaway
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            Tips
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            New Year
          </button>
        </div>

        <div class="py-3">
          <img
            src="assets/blog/MicrosoftTeams-image (5).png"
            class="img-fluid pb-2"
          />
          <div class="pt-2">
            <span class="text-orange fw-bold">2 Comments</span>
            <span class="px-1"> September 12 2023</span>
          </div>

          <div class="pt-3">
            <h1 class="sub-title">The Art of Grass-Fed Beef</h1>
            <div class="col-md-10">
              <p>
                Veritatis nesciunt ducimus illum qui repellendus et maxime.
                Dolorem et non ex qui nostrum aliquid dolores ea. Optio id quia
                adipisci voluptates facere molestiae et vel voluptatibus. Maxime
                officia deserunt facere repellat ad deserunt deserunt veniam.
                Similique odit similique nihil.<span class="dots">...</span
                ><span class="more"
                  >erisque enim ligula venenatis dolor. V Recusandae corrupti a.
                  Qui quam fugiat eos ullam eum sit aut omnis.Fuga accusantium
                  dignissimos aut vero voluptas idprovident nisi unde. Doloribus
                  qui porro dolorem error.</span
                >
              </p>
              <button
                (click)="myFunction($event)"
                class="text-decoration-underline text-orange fw-bold btn p-0 border-0"
              >
                Read More</button
              >
            </div>
          </div>
        </div>

        <div class="py-3">
          <img
            src="assets/blog/MicrosoftTeams-image (4).png"
            class="img-fluid pb-2"
          />
          <div class="pt-2">
            <span class="text-orange fw-bold">2 Comments</span>
            <span class="px-1"> September 12 2023</span>
          </div>

          <div class="pt-3">
            <h1 class="sub-title">From Ranch to Table</h1>
            <div class="col-md-10">
              <p>
                Et illo dolor exercitationem eius nulla architecto doloremque.
                Vitae quod delectus enim labore rerum vel dolor suscipit neque.
                Veniam esse saepe. Amet in laboriosam. Tempora reprehenderit
                quos et cumque numquam dolor commodi sit. Earum natus iure sed
                debitis sunt est odit et et. Quos sint et ut non voluptates<span
                  class="dots"
                  >...</span
                ><span class="more"
                  >psam. Inventore voluptatem consectetur autem et nostrum.
                  Nulla aut ab nisi ratione quo. Dolorum sapiente fugiat
                  pariatur. Excepturi blanditiis quidem sapiente rerum.</span
                >
              </p>
              <button
                (click)="myFunction($event)"
                class="text-decoration-underline text-orange fw-bold btn p-0 border-0"
              >
                Read More</button
              >
            </div>
          </div>
        </div>

        <div class="py-3">
          <img
            src="assets/blog/MicrosoftTeams-image (8).png"
            class="img-fluid pb-2"
          />
          <div class="pt-2">
            <span class="text-orange fw-bold">2 Comments</span>
            <span class="px-1"> September 12 2023</span>
          </div>
          <div class="pt-3">
            <h1 class="sub-title">Meet the Team</h1>
            <div class="col-md-10">
              <p>
                Eaque ducimus omnis placeat. Fuga et et aliquam rerum adipisci.
                Deleniti totam et illum aut totam rerum. Unde dolorum eligendi
                ex hic at aut qui. Et eum illum nobis suscipit quasi quo
                consequuntur. Culpa hic reprehenderit impedit et possimus ab
                animi.<span class="dots">...</span
                ><span class="more"
                  >erisque enim ligula venenatis dolor. V Recusandae corrupti a.
                  Qui quam fugiat eos ullam eum sit aut omnis. Fuga accusantium
                  dignissimos aut vero voluptas idprovident nisi unde. Doloribus
                  qui porro dolorem error.</span
                >
              </p>
              <button
                (click)="myFunction($event)"
                class="text-decoration-underline text-orange fw-bold btn p-0 border-0"
              >
                Read More</button>
            </div>
          </div>
        </div>

        <div class="py-3">
          <img
            src="assets/blog/MicrosoftTeams-image (9).png"
            class="img-fluid pb-2"
          />
          <div class="pt-2">
            <span class="text-orange fw-bold">2 Comments</span>
            <span class="px-1"> September 12 2023</span>
          </div>
          <div class="pt-3">
            <h1 class="sub-title">Sustainable Ranching</h1>
            <div class="col-md-10">
              <p>
                Delectus eos sed quia voluptatem repellat tenetur. Dolorem sunt
                veritatis fuga illo omnis et sit alias consectetur. Iste minima
                alias rerum earum veniam eaque. Deserunt sint eveniet. Aut nam
                laboriosam. Consequatur assumenda sed ipsa quia neque nesciunt
                est dicta.<span class="dots">...</span
                ><span class="more"
                  >erisque enim ligula venenatis dolor. V Recusandae corrupti a.
                  Qui quam fugiat eos ullam eum sit aut omnis. Fuga accusantium
                  dignissimos aut vero voluptas idprovident nisi unde. Doloribus
                  qui porro dolorem error.</span
                >
              </p>
              <button
                (click)="myFunction($event)"
                class="text-decoration-underline text-orange fw-bold btn p-0 border-0"
              >
                Read More</button>
            </div>
          </div>
        </div>

        <div class="py-3">
          <img
            src="assets/blog/MicrosoftTeams-image (2).png"
            class="img-fluid pb-2"
          />
          <div class="pt-2">
            <span class="text-orange fw-bold">2 Comments</span>
            <span class="px-3"> September 12 2023</span>
          </div>
          <div class="pt-3">
            <h1 class="sub-title">Culinary Inspiration</h1>
            <div class="col-md-10">
              <p>
                Ut sit facilis ut occaecati quia nisi est. Omnis et sit ullam
                aspernatur totam architecto accusantium id enim. Nisi et
                reiciendis nostrum atque natus sit molestiae impedit. Nihil ut
                dolorem fugiat dolores<span class="dots">...</span
                ><span class="more"
                  >omnis. Distinctio nostrum unde placeat dolorem quibusdam
                  architecto non provident. Vel ullam quia velit quia sed
                  dolores sunt atque ut. Recusandae corrupti a. Qui quam fugiat
                  eos ullam eum sit aut omnis. Fuga accusantium dignissimos aut
                  vero voluptas id provident nisi unde. Doloribus qui porro
                  dolorem error.
                </span>
              </p>
              <button
                (click)="myFunction($event)"
                class="text-decoration-underline text-orange fw-bold btn p-0 border-0"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 py-3 py-md-0">
        <div class="fw-semibold">TOP ARTICLES</div>
        <div class="pt-3 position-relative">
          <img
            src="assets/blog/MicrosoftTeams-image (7).png"
            class="img-fluid mx-auto d-flex"
          />

          <p class="text-light position-absolute bottom-0 px-4 mx-5 mx-md-0">
            Dolor sit amet,consectetur,<br />
            adipiscing elit,sed do
          </p>
        </div>

        <div class="pt-3 position-relative">
          <img
            src="assets/blog/MicrosoftTeams-image (3).png"
            class="img-fluid mx-auto d-flex"
          />

          <p class="text-light position-absolute bottom-0 px-4 mx-5 mx-md-0">
            Duis aute irure dolor in<br />
            reprehenderit in voluptate
          </p>
        </div>
        <div class="pt-3 position-relative">
          <img
            src="assets/blog/MicrosoftTeams-image (6).png"
            class="img-fluid mx-auto d-flex"
          />
          <p class="text-light position-absolute bottom-0 px-4 mx-5 mx-md-0">
            Ut enim ad minima veniam,<br />
            quis nostrum exercitationem
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
