<section class="bgblog">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-text">
        <h1 class="fw-bold text-light main-title">Blog</h1>
        <h6 class="text-light">
          Join us on this flavorful adventure as we celebrate the land, its
          heritage, and the delicious beef it produces. We're excited to share
          our insights, stories, and expertise with you.
        </h6>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="fw-semibold">TAGS</div>
        <div class="pt-3 ">
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2 "
          >
            Promo
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2 "
          >
            Holidays
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2 "
          >
            Gift
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2  "
          >
            Christmas
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2  "
          >
            Giveaway
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2 "
          >
            Tips
          </button>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2 "
          >
            New Year
          </button>
        </div>

        <div *ngFor="let blog of allBlogList" class="py-3">
          <a routerLink="blog-details" class="text-decoration-none">
            <h1 class="sub-title">{{ blog?.title }}</h1></a
          >
          <div class="pt-3" [innerHTML]="blog?.content">
          </div>
          <div class="pt-2">
            <span class="text-orange   comment">2 Comments</span>
            <span class="px-1 date"> September 12 2023</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
