/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
body {
  font-family: "Muli";
}
label {
  font: normal normal 600 16px/28px Muli;
  letter-spacing: 0px;
  opacity: 1;
}

.main-title {
  font: normal normal bold 57px/67px Georgia;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.sub-title {
  font: normal normal bold 36px/46px Georgia;
  letter-spacing: 0px;
  color: #180800;
  opacity: 1;
}

h4 {
  font: normal normal bold 24px Georgia;
}

h5 {
  font: normal normal bold 18px Georgia;
  letter-spacing: 0px;
  color: #180800;
  opacity: 1;
}

.button-orange {
  box-shadow: 0px 15px 29px #f98169ad;
  background-color: #ef4c00;
  color: #fff;
  font-family: "Muli";
  padding: 15px 32px;
}

.bg-light-gray {
  background-color: #f8f5f4;
}

.slick-prev,
.slick-next,
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

.text-orange {
  color: #ef4c00;
}
