/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Muli";
}
label {
  font: normal normal 600 16px/28px Muli;
  letter-spacing: 0px;
  opacity: 1;
}
