/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";

body {
  font-family: "Muli";
}

.form-check-input:checked {
  background-color: #ef4c00;
  border-color: #ef4c00;
}

// * width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

label {
  font: normal normal 600 16px/28px Muli;
  letter-spacing: 0px;
  opacity: 1;
}

.main-title {
  font: normal normal bold 57px/67px Georgia;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.sub-title {
  font: normal normal bold 36px/46px Georgia;
  letter-spacing: 0px;
  color: #180800;
  opacity: 1;
}

h4 {
  font: normal normal bold 24px Georgia;
}

h5 {
  font: normal normal bold 18px Georgia;
  letter-spacing: 0px;
  color: #180800;
  opacity: 1;
}

@media (max-width: 992px) {
  .sub-title {
    font: normal normal bold 25px/29px Georgia;
  }

  .main-title {
    font: normal normal bold 42px/44px Georgia;
  }
  h4 {
    font: normal normal bold 20px Georgia;
  }
  h5 {
    font: normal normal bold 14px Georgia;
  }
  label {
    font: normal normal 600 14px/14px Muli;
  }
}
@media (max-width: 576px) {
  th {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
}

.button-orange {
  // box-shadow: 0px 15px 29px #f98169ad;
  background-color: #ef4c00;
  color: #fff;
  font-family: "Muli";
  padding: 11px 32px;
}

.button-orange:hover {
  color: #fff;
  background-color: #ef4c00;
}

.button-orange-weekdays {
  // box-shadow: 0px 15px 29px #f98169ad;
  background-color: #ef4c00;
  color: #fff;
  font-family: "Muli";
}

.button-orange-weekdays:hover {
  // box-shadow: 0px 15px 29px #f98169ad;
  background-color: #ef4c00;
  color: #fff;
  font-family: "Muli";
}

.bg-light-gray {
  background-color: #f8f5f4;
}

.bg-green {
  background-color: #098d00;
}

.slick-prev,
.slick-next,
.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

.slick-prev {
  left: -10px !important;
}
.slick-next {
  right: -10px !important;
}

.text-orange,
.checked {
  color: #ef4c00;
}

.far p {
  font: normal normal 600 16px/26px Muli;
  letter-spacing: 0px;
  color: #180800;
  opacity: 0.8;
}

.bg-pink {
  /* background-color: #FEEDE5; */
  background: #feede5 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 0.1;
  font: normal normal bold 16px/44px Muli;
  letter-spacing: 0px;
  color: #ef4c00;
  opacity: 1;
}

.cursor {
  cursor: pointer !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.badge-danger {
  color: #fff;
  background-color: #e63757;
}

.notification {
  width: 17px;
  font-size: 12px;
  height: 17px;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.hide-name {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@page {
  size: auto;
  margin: 0mm;
}

@media print {
  .container {
    width: 100% !important;
    max-width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .bg-footer,
  .sub-title,
  .fixed-top,
  .hide {
    display: none;
  }

  .shadow-sm {
    box-shadow: unset !important;
  }

  img {
    display: block;
  }

  .mt-5 {
    margin: unset !important;
    padding: unset !important;
  }

  .bread-crumb {
    display: none;
  }
}

// badge color
.badge-bg-gr {
  background: #e8fadf 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #71dd37;
  width: 100px;
}
.badge-bg-red {
  background: #fdede5 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #ff3e1d;
  width: 100px;
}
.badge-bg-orange {
  background: #ffa5003b 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #FFA500;
  width: 100px;
}
.badge-bg-blue {
  border-radius: 4px;
  color: #6c6fff;
  background: #e7e7ff 0% 0% no-repeat padding-box;
  width: 100px;
}

.dataTables_filter {
  margin-bottom: 16px !important;
}
