<section class="bgblog">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-text">
        <h1 class="fw-bold text-light main-title">Blog</h1>
        <h6 class="text-light">
          Join us on this flavorful adventure as we celebrate the land, its
          heritage, and the delicious beef it produces. We're excited to share
          our insights, stories, and expertise with you.
        </h6>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pt-2">
        <div class="fw-semibold">TAGS</div>
        <div class="pt-3">
          <button type="button" class="btn border text-orange rounded-pill mx-1 mb-2">
            Promo
          </button>
          <button type="button" class="btn border text-orange rounded-pill mx-1 mb-2">
            Holidays
          </button>
          <button type="button" class="btn border text-orange rounded-pill mx-1 mb-2">
            Gift
          </button>
          <button type="button" class="btn border text-orange rounded-pill mx-1 mb-2">
            Christmas
          </button>
          <button type="button" class="btn border text-orange rounded-pill mx-1 mb-2">
            Giveaway
          </button>
          <button type="button" class="btn border text-orange rounded-pill mx-1 mb-2">
            Tips
          </button>
          <button type="button" class="btn border text-orange rounded-pill mx-1 mb-2">
            New Year
          </button>
        </div>

        <div class="py-3">
          <img src="/assets/blogdetails/grass.png" class="img-fluid pb-2 w-100" />
          
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-9">
        <div class="pt-2">
          <span class="text-orange fw-bold">2 Comments</span>
          <span class="px-1 fw-bold"> September 12 2023</span>
        </div>
        <div class="pt-3">
          <h1 class="sub-title text-orange">The Art of Grass-Fed Beef</h1>
          <div class="col-md-10">
            <div class="pt-4">
              Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut
              lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
              cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. Nulla
              luctus malesuada tincidunt.
            </div>
            <div class="pt-4">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
              deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
              Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
              eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
              assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum
              necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum
              rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
              perferendis doloribus asperiores repellat.
            </div>
            <div class="py-5">
              <img src=" /assets/blogdetails/beef.png" class="img-fluid">
            </div>
            <div class="">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
              incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure
            </div>
            <div class="d-flex py-5">
              <div class="fw-bold">
                Share
              </div>
              <div class="mx-3">
                <img src="/assets/blogdetails/facebook.svg" class="img-fluid">
              </div>
              <div class="mx-3">
                <img src="/assets/blogdetails/x-img.svg" class="img-fluid">
              </div>
            </div>

            <div class="pt-4 comment">
              Comments
            </div>
            <div class=" d-flex  pt-5">
              <img src="/assets/blogdetails/lisadoe.png" class="img-fluid  img-lisa">
              <div>
                <span class="mx-3">Lisa Doe</span>
                <span class="mx-1 text-secondary">September 12 2023</span>
                <div class="mx-3 pt-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-4  py-md-0">
        <div class="fw-semibold">TOP ARTICLES</div>
        <div class="pt-3 position-relative">
          <img src="assets/blogdetails/dolorsit.png" class="img-fluid mx-auto d-flex" />

          <p class="text-light position-absolute bottom-0 px-4 mx-5 mx-md-0">
            Dolor sit amet,consectetur,<br />
            adipiscing elit,sed do
          </p>
        </div>

        <div class="pt-3 position-relative">
          <img src="assets/blogdetails/duaisute.png" class="img-fluid mx-auto d-flex" />

          <p class="text-light position-absolute bottom-0 px-4 mx-5 mx-md-0">
            Duis aute irure dolor in<br />
            reprehenderit in voluptate
          </p>
        </div>
        <div class="pt-3 position-relative">
          <img src="/assets/blogdetails/utenim.png" class="img-fluid mx-auto d-flex" />
          <p class="text-light position-absolute bottom-0 px-4 mx-5 mx-md-0">
            Ut enim ad minima veniam,<br />
            quis nostrum exercitationem
          </p>
        </div>
      </div>
    </div>
  </div>
</section>