.bgblog {
  background-image: url("/assets/blogdetails/blogbanner.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-text {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.comment {
  font: normal normal 600 27px/31px Muli;
  letter-spacing: 0.75px;
  color: #666666;
  opacity: 1;
}

.btn:hover {
  background: transparent;
  color: #ef4c00;
}
.img-lisa {
  height: 40px;
  width: 40px;
}

@media (max-width: 576px) {
  .about-text {
    left: 50%;
  }
}

.profileImg {
  height: 40px;
  width: 40px;
}

.button-orange-blog {
  background-color: #ef4c00;
  color: #fff;
  font-family: "Muli";
  padding: 9px 30px;
  border-radius: unset;
}

.commentBox {
  height: 60vh; 
  overflow-y: auto; 
  overflow-x: hidden;
}

.h-500{
  height: 500px
}
.h-250 {
  height: 200px;
}

.title-position {
  background: #808080e0;
  display: block;
  width: 100%;
  padding: 6px;
  bottom: -16px;

  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep .responsive-content img {
  max-width: 100%;
  height: auto;
  display: block;
  // margin: 0 auto;
}

.responsive-content {
  width: 100%;
  box-sizing: border-box;
}


@media (max-width: 991px) {
  .h-500{
    height: auto;
  }
  .h-250 {
    height: 150px;
  }
  .commentBox {
    height: 30vh;
  }
}

@media (max-width: 576px) {
  .h-250 {
    height: 200px;
  }
}