<section class="bgblog">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-text">
        <h1 class="fw-bold text-light main-title">Blog</h1>
        <h6 class="text-light">
          Join us on this flavorful adventure as we celebrate the land, its
          heritage, and the delicious beef it produces. We're excited to share
          our insights, stories, and expertise with you.
        </h6>
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pt-2">
        <div class="pt-3">
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            {{ blogDetails?.tag.blogTag }}
          </button>
          <h1 class="sub-title text-orange">{{ blogDetails?.title }}</h1>
        </div>

        <div class="py-3">
          <img
            class="img-fluid w-100"
            [src]="setProductPic()"
            style="height: 500px"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="pt-2">
          <span class="text-orange fw-bold"
            >{{ comments.length }} Comments</span
          >
          <span class="px-1 fw-bold"> {{ blogDetails?.createdAt | date }}</span>
        </div>
        <div class="pt-3">
          <div class="col-md-10">
            <div [innerHTML]="blogDetails?.content" class=""></div>
          <!-- <div *ngIf="comments.length > 0"> -->
            <div class="py-4 comment">Comments</div>
            <div
              class="border border-bottom-0 p-4"
              style="height: 60vh; overflow-y: auto; overflow-x: hidden"
            >
              <div *ngFor="let comment of comments" class="d-flex pb-3">
                <div class="flex-shrink-0 mb-3">
                  <img
                    [src]="setProfilePic(comment?.user?.id)"
                    class="img-fluid border rounded-circle profileImg"
                  />
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex flex-row">
                    <div class="fw-bold text-capitalize">
                      {{ comment?.user.name }}
                    </div>
                    <div class="ms-md-3 ms-1 text-secondary">
                      {{ comment?.createdAt | date : "MM/dd/yyyy" }}
                    </div>
                  </div>
                  <p class="pt-2">
                    {{ comment?.message }}
                  </p>
                  <div class="row">
                    <div class="col-md-8">
                      <div *ngFor="let reply of comment.replies" class="d-flex">
                        <div class="flex-grow-1 ms-3">
                          <div class="d-flex flex-row">
                            <div class="fw-bold">
                              {{ reply?.replier.name }}
                            </div>
                            <div class="ms-md-3 ms-1 text-secondary">
                              {{ reply?.createdAt | date : "MM/dd/yyyy" }}
                            </div>
                          </div>
                          <p class="pt-2">
                            {{ reply?.message }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="">
              <input
                [(ngModel)]="comment"
                (keydown.enter)="addComment()"
                type="text"
                class="form-control rounded-0"
                placeholder="Add Comment"
              />
            </div> -->
            <div class="input-group">
              <input
                [(ngModel)]="comment"
                (keydown.enter)="addComment()"
                type="text"
                class="form-control rounded-0"
                placeholder="Add Comment"
              />
              <span
                class="input-group-text eye-inside bg-transparent border-start-0"
                ><i (click)="addComment()" class="fas fa-arrow-right cursor"></i
              ></span>
                <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 py-4 py-md-0">
        <div class="fw-semibold">TOP ARTICLES</div>
        <div
          *ngFor="let articals of allComments"
          class="pt-3 position-relative"
        >
          <img
            [src]="setTopArticalPic(articals.id)"
            class="img-fluid mx-auto d-flex shadow-sm"
          />

          <p class="text-light position-absolute bottom-0 px-4 mx-5 mx-md-0">
            {{ articals.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
