<section class="bgblog">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-text">
        <h1 class="fw-bold text-light main-title">Blog</h1>
        <h6 class="text-light">
          Join us on this flavorful adventure as we celebrate the land, its
          heritage, and the delicious beef it produces. We're excited to share
          our insights, stories, and expertise with you.
        </h6>
      </div>
    </div>
  </div>
</section>
<section class="py-xl-5 py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pt-2">
        <div class="pt-3 d-flex align-items-center">
          <i
            class="fa fa-arrow-left fa-2x pe-3 text-orange cursor"
            routerLink="/blog"
          ></i>
          <h1 class="sub-title text-orange pe-2">
            {{ blogDetails?.title }}({{ blogDetails?.author }})
          </h1>
          <button
            type="button"
            class="btn border text-orange rounded-pill mx-1 mb-2"
          >
            {{ blogDetails?.tag.blogTag }}
          </button>
        </div>

        <div class="py-3">
          <img class="img-fluid w-100 h-500" [src]="setBlogDetailsPicture()" />
        </div>
      </div>
    </div>

    <div class="row">
      <div
        [ngClass]="{
          'col-md-9': allArticles.length,
          'col-md-12': !allArticles.length
        }"
      >
        <div class="pt-2">
          <span class="text-orange fw-bold"
            >{{ comments.length }} Comments</span
          >
          <span class="px-1 fw-bold"> {{ blogDetails?.createdAt | date }}</span>
        </div>
        <div class="pt-3">
          <div
            [ngClass]="{
              'col-md-10': allArticles.length,
              'col-md-12': !allArticles.length
            }"
          >
            <div
              class="responsive-content"
              [innerHTML]="blogDetails?.content"
            ></div>

            <div class="py-4 comment">Comments</div>
            <div
              [ngClass]="{
                'border p-4 commentBox': comments.length,
                'text-center': !comments.length
              }"
            >
              <div *ngFor="let comment of comments" class="d-flex pb-3">
                <div class="flex-shrink-0 mb-3">
                  <img
                    [src]="setProfilePic(comment?.user?.id)"
                    class="img-fluid border rounded-circle profileImg"
                  />
                </div>
                <div class="flex-grow-1 ms-3">
                  <div class="d-flex flex-row">
                    <div class="fw-bold text-capitalize">
                      {{ comment?.user.name }}
                    </div>
                    <div class="ms-md-3 ms-1 text-secondary">
                      {{ comment?.createdAt | date : "MM/dd/yyyy" }}
                    </div>
                  </div>
                  <p class="pt-2">
                    {{ comment?.message }}
                  </p>
                  <div class="row">
                    <div class="col-md-8">
                      <div *ngFor="let reply of comment.replies" class="d-flex">
                        <div class="flex-grow-1 ms-3">
                          <div class="d-flex flex-row">
                            <div class="fw-bold text-capitalize">
                              {{ reply?.replier.name }}
                            </div>
                            <div class="ms-md-3 ms-1 text-secondary">
                              {{ reply?.createdAt | date : "MM/dd/yyyy" }}
                            </div>
                          </div>
                          <p class="pt-2">
                            {{ reply?.message }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!comments.length" class="border py-3">
                <h5>No Comments</h5>
              </div>
            </div>

            <div class="input-group" *ngIf="isLoggedIn">
              <input
                [(ngModel)]="comment"
                (keydown.enter)="addComment()"
                type="text"
                class="form-control rounded-0"
                placeholder="Add Comment"
              />
              <span
                class="input-group-text eye-inside bg-transparent border-start-0"
                ><i (click)="addComment()" class="fas fa-arrow-right cursor"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="allArticles.length" class="col-md-3 py-4 py-md-0">
        <div class="fw-semibold">TOP ARTICLES</div>
        <div
          *ngFor="let articals of allArticles"
          class="pt-3 position-relative cursor"
          (click)="navigateToBlogView(articals)"
        >
          <img
            [src]="setTopArticalPic(articals.id)"
            class="img-fluid mx-auto d-flex shadow-sm w-100 h-250"
          />

          <p class="text-light position-absolute px-4 mx-md-0 title-position">
            {{ articals.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
